.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spaceMd;
  padding: $spaceLg $spaceXl4;
  border-radius: $borderRadius;
  background: $secondaryColor;
  color: $whiteColor;
  font-size: $fontSizeSm;
  font-weight: $fontWeightSemiBold;

  > img {
    min-width: $spaceXl2;
  }

  &:hover {
    background: $secondaryColorActive;
  }

  &--secondary {
    background: $greyColor;
    color: $secondaryColor;

    &:hover {
      background: #e8f1ff;
    }
  }

  @include sm-breakpoint {
    font-size: $fontSizeMd;
    line-height: 1.42;
  }
}
