.contacts {
  display: flex;
  flex-direction: column;
  gap: $spaceXl2;
  color: $whiteColor;
  font-size: $fontSizeSm;

  &__title {
    font-size: $fontSize;
    font-weight: $fontWeightBold;
    line-height: 1.375;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spaceMd;

    .item {
      display: flex;
      align-items: center;
      gap: $spaceSm;

      img {
        max-width: $spaceXl2;
      }
    }
  }

  @include md-breakpoint {
    display: none;
  }
}
