.details {
  h2 {
    @include sectionTitle;

    border-bottom: none;
    padding: 0;
  }

  &[open] > summary {
    padding-bottom: $spaceXl4;
    border-bottom: $border;

    > img {
      transform: rotate(0deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spaceXl6;
    padding: $spaceXl4 0 $spaceXs;

    h3 {
      font-size: $fontSize;
      font-weight: $fontWeightBold;
      line-height: 1.375;

      span {
        color: $secondaryColor;
      }
    }

    p {
      font-size: $fontSizeSm;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: $spaceXl2;

      .images {
        display: flex;
        gap: $spaceXl6;
        overflow: auto;

        > img {
          width: torem(214);
          aspect-ratio: 1/1;
        }
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;

      tr {
        font-size: $fontSizeSm;
        text-align: center;

        &:first-child {
          background: $secondaryColor;
          color: $whiteColor;

          th {
            &:first-child {
              border-top-left-radius: $borderRadius;
            }

            &:last-child {
              width: 70%;
              border-top-right-radius: $borderRadius;
            }
          }
        }

        &:nth-child(even) {
          background: $greyColor;

          td {
            &:first-child {
              border-radius: $borderRadius 0 0 $borderRadius;
            }

            &:last-child {
              border-radius: 0 $borderRadius $borderRadius 0;
            }
          }
        }

        &:nth-child(2) {
          td {
            &:first-child {
              border-radius: 0 0 0 $borderRadius;
            }

            &:last-child {
              border-radius: 0 0 $borderRadius 0;
            }
          }
        }
      }

      td,
      th {
        padding: $spaceXl2;
      }
    }

    ul {
      li {
        font-size: $fontSizeSm;
      }
    }

    @include sm-breakpoint {
      ul {
        li {
          font-size: $fontSizeMd;
        }
      }
    }
  }

  @include sm-breakpoint {
    &__content {
      h3 {
        font-size: $fontSizeLg;
      }

      p {
        font-size: $fontSizeMd;
      }
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spaceXl2;
  list-style: none;
  cursor: pointer;

  > img {
    transition: all 0.3s ease;
    transform-origin: center;
    transform: rotate(-90deg);
  }
}
