.form-search {
  position: relative;

  input {
    @include sectionParagraph;

    width: 100%;
    padding: $spaceXl $spaceXl7 $spaceXl $spaceXl4;
    border-radius: $borderRadius;
    border: $border;

    &::placeholder {
      color: $greyLightColor;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: $spaceXl4;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;

    img {
      width: torem(16);
      height: torem(16);
    }
  }
}
