.list {
  &--content {
    li {
      &:before {
        content: '\2022';
        color: $secondaryColor;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -$spaceSm;
      }
    }
  }

  &--done {
    li {
      position: relative;
      padding-left: $spaceXl3;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: $spaceSm;
        height: torem(6);
        background-image: url('@images/list-done.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--blue {
      li {
        &:before {
          background-image: url('@images/icon-list.svg');
        }
      }
    }
  }

  &--undone {
    li {
      position: relative;
      padding-left: $spaceXl3;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: $spaceSm;
        height: torem(6);
        background-image: url('@images/list-undone.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
