.logo {
  display: flex;
  align-items: center;
  gap: $spaceMd;
  height: $spaceXl6;
  z-index: 5;

  &__text {
    font-size: torem(11);
    font-weight: $fontWeightLight;

    > p {
      font-size: $fontSizeMd;
      font-weight: $fontWeightBlack;
    }
  }
}
