.navbar__submenu {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: $spaceXl6;
  width: 100%;
  min-width: torem(420);
  padding: $spaceXl5 $spaceXl6;
  border-radius: $borderRadiusMd;
  background: $whiteColor;
  box-shadow: $shadowSm;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  transition: all 0.3s ease;

  > li {
    flex: 0 1 calc(50% - $spaceXl2);
    padding: 0;

    > a {
      align-items: center;
      gap: $spaceXl2;

      .navbar__icon__text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        color: #b8bfcc;
        font-size: $fontSizeMd;

        > img {
          width: $size60;
          height: $size60;
        }

        > p {
          &:first-child {
            font-weight: $fontWeightSemiBold;
            color: $mainColor;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }

  .button {
    width: 100%;
  }
}
