.navbar {
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: $spaceXl4;
    height: $spaceXl;
    z-index: 5;

    > span,
    > span::before,
    > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $secondaryColor;
      transition: all 0.3s ease;
    }

    > span {
      &::before {
        content: '';
        top: -8px;
      }

      &:after {
        content: '';
        top: 8px;
      }
    }
  }

  #navbar__toggle {
    position: absolute;
    width: $spaceXl4;
    height: $spaceXl;
    opacity: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:checked {
      & ~ .navbar__btn > span {
        transform: rotate(45deg);
        background-color: $whiteColor;

        &:before {
          top: 0;
          transform: rotate(0);
          background-color: $whiteColor;
        }

        &:after {
          top: 0;
          transform: rotate(90deg);
          background-color: $whiteColor;
        }
      }

      & ~ .navbar__menu {
        display: flex;
      }
    }
  }

  @include md-breakpoint {
    &__btn {
      display: none;
    }

    #navbar__toggle {
      display: none;
    }
  }
}
