.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fontSizeSm;
  font-weight: $fontWeightLight;

  &__value {
    font-size: torem(32);
    font-weight: $fontWeightSemiBold;
  }

  &__count {
    font-size: $fontSizeMd;
    font-weight: $fontWeightMedium;
    color: $secondaryColor;
  }
}
