.stars {
  display: flex;
  justify-content: center;
  gap: torem(12);

  svg {
    path {
      transition: $transition;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: $yellow;
      }
    }

    &.active {
      path {
        fill: $yellow;
      }
    }
  }
}
