.types {
  margin-top: torem(40);

  .wrapper {
    display: flex;
    gap: torem(6);
    margin-bottom: torem(12);

    @include sm-breakpoint {
      margin-bottom: 0;
      flex: 0 1 calc(50% - torem(10));
    }
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: torem(6);
    padding: torem(18.5) 0;
    border-radius: $borderRadius;
    background-color: $almostWhitePurple;
    font-size: $spaceXs;
    transition: $transition;

    svg {
      width: torem(25);
      height: torem(25);
      object-fit: contain;
      transition: $transition;
    }

    &:hover {
      background-color: $darkPurple;
      color: $white;
      cursor: pointer;

      svg {
        path {
          stroke: $white;
          fill: $white;
        }
      }
    }

    @include sm-breakpoint {
      flex: none;
      min-width: torem(80);
    }

    &.active {
      background-color: $darkPurple;
      color: $white;
      cursor: pointer;

      svg {
        path {
          stroke: $white;
          fill: $white;
        }
      }
    }
  }

  .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);

    > button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: torem(31);
      border-radius: $borderRadiusLg;
      background: $white;
      box-shadow: $shadow;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      gap: torem(10);
      margin: 0 torem(20);
      font-weight: 500;
    }

    input {
      all: unset;
      max-width: torem(30);
      margin-right: torem(5);
      font-size: $fontSizeXl2;
      font-weight: 700;
      color: $mainPurple;
      appearance: none;
    }

    &__square {
      gap: torem(25);

      > button {
        flex-direction: column;
        gap: torem(6);
        padding: torem(15) torem(24);
        font-weight: 500;
        color: $darkPurple;
        background-image: linear-gradient(1.2);

        > p {
          &:last-child {
            font-size: $fontSizeXl2;
            font-weight: 700;
            line-height: normal;
          }
        }

        &.active {
          color: $white;
          background-color: $mainPurple;
        }
      }

      .form-item {
        &__text {
          margin: 0;
        }
      }
    }

    @include sm-breakpoint {
      flex: 0 1 calc(50% - torem(10));
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: torem(12);

    @include sm-breakpoint {
      flex-direction: row;
      flex-wrap: wrap;
      gap: torem(20);
      padding: torem(45);
      max-width: torem(800);
      border-radius: $borderRadiusLg;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(12.25px);
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: torem(6);
    margin-top: torem(8);

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: torem(10);
      font-size: $fontSizeMd;
      line-height: normal;
      color: $texty;

      span {
        font-size: $fontSizeLg;
        font-weight: 700;
        color: $darkPurple;
      }
    }

    > button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: troem(6);
      padding: torem(28) torem(30);
      font-size: $fontSizeXl;
      font-weight: 500;
      line-height: normal;
      color: $white;
      border-radius: 23px;
      border: 1px solid #5c41be;
      background: linear-gradient(292deg, #5c41be 19.65%, #8067dc 95.06%);
      cursor: pointer;

      img {
        width: torem(94);
        height: torem(48);
      }
    }

    @include sm-breakpoint {
      flex: 0 1 calc(55% - torem(5));
      margin: 0 auto;

      > button {
        padding: torem(20) torem(30);
        font-size: $fontSizeXl;
      }
    }
  }

  &__pollution {
    display: flex;
    flex-direction: column;
    gap: torem(22);
    font-size: $texty;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;

    &__items {
      display: flex;
      gap: torem(12);
    }

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(20);
      padding: torem(20) torem(16);
      background-color: $white;
      border-radius: $borderRadiusMd;
      box-shadow: $shadow;
      font-size: $fontSizeLg;
      line-height: 1.2;
      transition: $transition;

      svg {
        path {
          transition: $transition;
        }
      }

      &:hover {
        background-color: $darkPurple;
        color: $white;
        cursor: pointer;

        svg {
          path {
            stroke: $white;
            fill: $white;
          }
        }
      }

      &.active {
        background-color: $darkPurple;
        color: $white;
        cursor: pointer;

        svg {
          path {
            stroke: $white;
            fill: $white;
          }
        }
      }
    }

    @include maxWidthBlock;
  }

  &__price {
    align-self: center;

    p {
      padding: torem(6) torem(16);
      border-radius: 15px;
      background: $yellow;
      font-size: $fontSizeLg;
      font-weight: 400;
      line-height: normal;
      color: #002839;

      span {
        font-size: $fontSizeXl3;
        font-weight: 800;
      }
    }
  }

  &--office {
    .container {
      gap: torem(20);

      @include sm-breakpoint {
        flex-direction: column;
      }
    }

    .types {
      &__price {
        margin-top: torem(40);

        @include sm-breakpoint {
          margin-top: 0;
        }
      }
    }

    .form-item {
      @include maxWidthBlock;

      width: 100%;

      input {
        max-width: torem(50);
      }
    }
  }

  &--renovation {
    display: flex;
    flex-direction: column;
    gap: torem(20);

    .form-item {
      input {
        max-width: torem(50);
      }
    }

    @include sm-breakpoint {
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(7px);

      .form-item {
        background: transparent;
        backdrop-filter: none;
      }
    }
  }

  @include sm-breakpoint {
    margin-top: torem(-45);
  }
}
