html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: radial-gradient(
    62.29% 62.29% at 50% 37.71%,
    #f4f3f8 0%,
    #f3effa 50%,
    #f0ebf8 100%
  );
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: $text;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../images/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.body {
  > .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    height: 100%;

    &.not-home {
      .header {
        @include sm-breakpoint {
          margin-bottom: torem(62);
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: torem(60);

        @include sm-breakpoint {
          gap: torem(90);
        }
      }

      .types {
        @include sm-breakpoint {
          margin-top: 0;
        }
      }

      .section--faq {
        padding: 0;

        @include sm-breakpoint {
          padding: 0;
        }
      }
    }

    &.service {
      .header {
        margin-bottom: torem(12);

        @include sm-breakpoint {
          margin-bottom: torem(32);
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: torem(40);

        @include sm-breakpoint {
          gap: torem(60);
        }

        > .section {
          &:last-child {
            padding-bottom: torem(40);

            @include sm-breakpoint {
              padding-bottom: torem(60);
            }
          }

          &.section--how-we-clean {
            padding: 0;
          }
        }
      }
    }

    &.reviews {
      .section--order-hero {
        .button {
          display: none;
        }
      }

      .section--reviews {
        > .container {
          > .section--reviews {
            @include sm-breakpoint {
              display: none;
            }
          }

          > .swiper-reviews {
            display: none;

            @include sm-breakpoint {
              display: grid;
            }
          }
        }
      }
    }

    &.all-service {
      .section--order-hero {
        .container {
          h1 {
            @include sm-breakpoint {
              font-size: torem(54);
            }
          }
        }

        .button {
          display: none;
        }
      }

      .services,
      .premium {
        padding: 0;
      }
    }

    &.faq {
      .main {
        gap: 0;
      }

      .section--order-hero {
        padding-bottom: torem(40);

        @include sm-breakpoint {
          padding-bottom: torem(90);
        }

        h1 {
          @include maxWidthBlock;
          @include titleColor;

          @include sm-breakpoint {
            font-size: torem(54);
          }
        }

        .button {
          display: none;
        }
      }

      .section--faq {
        padding-bottom: torem(106);

        @include sm-breakpoint {
          padding-bottom: torem(90);
        }

        .container {
          > h2,
          > .button {
            display: none;
          }
        }
      }

      .section--address {
        &__form {
          .form-item {
            width: 100%;
          }

          .button {
            margin: torem(20) auto 0;
          }
        }
      }
    }

    &.blog-page {
      .section--order-hero {
        h1 {
          @include titleColor;

          @include sm-breakpoint {
            font-size: torem(54);
          }
        }

        .button {
          display: none;
        }
      }

      .section--blog {
        padding: 0;

        .container {
          > .button {
            margin-top: torem(40);

            @include sm-breakpoint {
              margin-top: torem(20);
            }
          }
        }
      }
    }

    &.article {
      .hero--services {
        .wrapper {
          picture {
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }

      .section--blog {
        padding: 0;
      }
    }

    &.cleaners {
      .main {
        gap: 0;
      }

      .header {
        padding-bottom: torem(30);
      }

      .section--order-hero {
        padding-bottom: torem(40);

        .container {
          h1 {
            @include sm-breakpoint {
              font-size: torem(54);
            }
          }
        }

        .button {
          display: none;
        }

        @include sm-breakpoint {
          padding-bottom: torem(90);
        }
      }

      .section--address {
        &__form {
          .form-item {
            width: 100%;
          }

          .button {
            margin: torem(20) auto 0;
          }
        }

        @include sm-breakpoint {
          padding: torem(40) 0;
        }
      }

      .section--cleaners {
        padding: torem(10) 0 torem(24);

        @include sm-breakpoint {
          padding: 0 0 torem(90);
        }
      }

      .section--faq {
        padding: torem(60) 0;

        @include sm-breakpoint {
          padding: torem(90) 0;
        }
      }
    }

    &.about {
      .section--order-hero {
        h1 {
          @include maxWidthBlock;
          @include titleColor;

          @include sm-breakpoint {
            font-size: torem(54);
          }
        }

        .button {
          display: none;
        }
      }

      .section--cleaners {
        padding: 0;
      }

      .types {
        margin: 0;
        padding-bottom: torem(60);

        @include sm-breakpoint {
          padding-bottom: torem(90);
        }
      }
    }

    &.login {
      background: linear-gradient(292deg, #5c41be 19.65%, #8067dc 95.06%);

      .logo__text {
        color: $white;
      }
    }

    &.user {
      .main {
        gap: torem(38);
        padding-bottom: torem(60);

        @include sm-breakpoint {
          gap: torem(90);
          padding-bottom: torem(90);
        }
      }
    }

    &.user-account {
      .main {
        gap: torem(40);
        padding-bottom: torem(60);

        @include sm-breakpoint {
          gap: torem(90);
          padding-bottom: torem(90);
        }
      }

      .section--form {
        padding: 0;

        form {
          display: flex;
          flex-direction: column;
          gap: torem(34);

          .form-item {
            margin: 0;
            padding: 0;

            label {
              display: block;
              margin-bottom: torem(5);
              font-size: $fontSizeXl2;
              font-weight: 400;
              line-height: 1;
              color: $text;
            }

            input {
              padding: torem(20.5) torem(12);
              font-size: $fontSizeXl2;
              font-weight: 400;
              line-height: 1;
              color: $darkestPurple;

              &:placeholder-shown {
                color: $grey;
              }
            }

            &__prefix {
              top: auto;
              bottom: 0;
              height: 65px;

              + label + input {
                padding-left: torem(87);
              }
            }
          }

          @include sm-breakpoint {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .form-item {
              max-width: none;
            }

            .button--green {
              padding: torem(28) torem(30);
            }
          }
        }
      }

      &--deleted {
        .main {
          gap: torem(38);

          @include sm-breakpoint {
            gap: torem(50);
          }
        }
      }

      &--locations {
        .main {
          gap: torem(40);
          padding-bottom: 0;
        }

        .section--address__form {
          > p {
            width: 100%;
            padding: torem(23) torem(20);
            border-radius: $borderRadiusMd;
            background: rgba(255, 255, 255, 0.22);
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
            font-size: $fontSizeXl2;
            line-height: 1;
            color: $white;
          }

          .form-actions {
            display: flex;
            justify-content: center;
            width: 100%;

            .button {
              width: 100%;
              min-width: torem(336);

              @include sm-breakpoint {
                width: auto;
              }
            }
          }

          @include sm-breakpoint {
            gap: torem(40) torem(20);

            > .form-item {
              flex: 0 1 calc(50% / 3 - torem(20));

              &:first-of-type {
                flex: 0 1 50%;
              }

              &:nth-child(8) {
                min-width: torem(225);
              }
            }
          }
        }
      }

      &--cards {
        .section--address__form {
          @include sm-breakpoint {
            gap: torem(20);

            > .form-item {
              flex: 0 1 100%;

              &:first-of-type {
                flex: 0 1 100%;
              }
            }
          }
        }
      }
    }
  }

  &--cleaner {
    background: linear-gradient(
      180deg,
      #f8f5ff -24.58%,
      #e4dcf5 16.53%,
      #f2ebff 57.64%,
      #e4d6ff 100%
    );

    &:after {
      display: none;
    }

    > .content.not-home {
      @include sm-breakpoint {
        .header {
          margin-bottom: torem(32);
        }

        .main {
          gap: torem(60);
        }
      }
    }

    .cleaner-order {
      padding-bottom: torem(235);

      @include sm-breakpoint {
        padding-bottom: torem(240);
      }
    }

    .cleaner-new-order {
      .card__cleaner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: torem(12);
      }

      .section--user-info {
        .section--result__footer {
          .button--repeat {
            @include maxWidthBlock;

            @include sm-breakpoint {
              display: flex;
            }
          }
        }
      }

      .section--result {
        padding: 0;
      }

      .section--result__footer {
        @include sm-breakpoint {
          .container {
            max-width: torem(700);
          }
        }
      }

      .section--user-info
        .section--result
        .container
        .section--result__methods {
        margin-bottom: 0;
      }
    }

    &--payment {
      > .content.not-home {
        @include sm-breakpoint {
          .header {
            margin-bottom: torem(12);
          }

          .main {
            gap: torem(40);
          }
        }
      }

      .main {
        > .container {
          display: flex;
          flex-direction: column;
          gap: torem(40);

          .status {
            align-self: center;
          }

          .section--download {
            .button {
              @include maxWidthBlock;

              padding: torem(35);
              border-radius: $borderRadiusLg;
            }
          }

          .section--cleaner-orders__info-item {
            &:nth-last-child(2) {
              margin-bottom: torem(12);
            }
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile {
  display: block;

  @include md-breakpoint {
    display: none;
  }
}

.section-padding {
  padding-top: torem(40);

  @include sm-breakpoint {
    padding-top: torem(90);
  }
}

.cleaner-padding {
  .main {
    padding-bottom: torem(135);

    @include sm-breakpoint {
      padding-bottom: torem(60);
    }
  }
}
