html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    62.29% 62.29% at 50% 37.71%,
    #f4f3f8 0%,
    #f3effa 50%,
    #f0ebf8 100%
  );
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: normal;
  color: $text;
}

.body {
  > .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    height: 100%;

    &.not-home {
      .header {
        @include sm-breakpoint {
          margin-bottom: torem(62);
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: torem(60);

        @include sm-breakpoint {
          gap: torem(90);
        }

        > .section {
          &:last-child {
            padding-bottom: torem(60);

            @include sm-breakpoint {
              padding-bottom: torem(90);
            }
          }
        }
      }

      .types {
        @include sm-breakpoint {
          margin-top: 0;
        }
      }

      .section--faq {
        padding: 0;

        @include sm-breakpoint {
          padding: 0;
        }
      }
    }

    &.service {
      .header {
        margin-bottom: torem(12);

        @include sm-breakpoint {
          margin-bottom: torem(32);
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: torem(40);

        @include sm-breakpoint {
          gap: torem(60);
        }

        > .section {
          &:last-child {
            padding-bottom: torem(40);

            @include sm-breakpoint {
              padding-bottom: torem(60);
            }
          }

          &.section--how-we-clean {
            padding: 0;
          }
        }
      }
    }

    &.reviews {
      .section--order-hero {
        .button {
          display: none;
        }
      }

      .section--reviews {
        > .container {
          > .section--reviews {
            @include sm-breakpoint {
              display: none;
            }
          }

          > .swiper-reviews {
            display: none;

            @include sm-breakpoint {
              display: grid;
            }
          }
        }
      }
    }

    &.all-service {
      .section--order-hero {
        .container {
          h1 {
            @include sm-breakpoint {
              font-size: torem(54);
            }
          }
        }

        .button {
          display: none;
        }
      }

      .services,
      .premium {
        padding: 0;
      }
    }

    &.faq {
      .main {
        gap: 0;
      }

      .section--order-hero {
        padding-bottom: torem(40);

        @include sm-breakpoint {
          padding-bottom: torem(90);
        }

        h1 {
          @include maxWidthBlock;

          background: var(
            --main-gradient,
            linear-gradient(292deg, #5c41be 19.65%, #8067dc 95.06%)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @include sm-breakpoint {
            font-size: torem(54);
          }
        }

        .button {
          display: none;
        }
      }

      .section--faq {
        padding-bottom: torem(106);

        @include sm-breakpoint {
          padding-bottom: torem(90);
        }

        .container {
          > h2,
          > .button {
            display: none;
          }
        }
      }

      .section--address {
        &__form {
          .form-item {
            width: 100%;
          }

          .button {
            margin: torem(20) auto 0;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile {
  display: block;

  @include md-breakpoint {
    display: none;
  }
}

.section-padding {
  padding-top: torem(40);

  @include sm-breakpoint {
    padding-top: torem(90);
  }
}
