@function torem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

@mixin sm-breakpoint {
  @media only screen and (min-width: $smBreakpoint) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (min-width: $mdBreakpoint) {
    @content;
  }
}

@mixin sectionTitle {
  padding-bottom: $spaceXl4;
  color: $secondaryColor;
  font-size: $fontSize;
  font-weight: $fontWeightSemiBold;
  line-height: 1.375;
  border-bottom: 1px solid $whiteDarkColor;

  @include sm-breakpoint {
    font-size: $fontSizeLg;
  }
}

@mixin sectionSubTitle {
  font-size: $fontSize;
  font-weight: $fontWeightBold;
}

@mixin sectionParagraph {
  font-size: $fontSizeSm;
  line-height: 1.5;

  @include sm-breakpoint {
    font-size: $fontSizeMd;
    line-height: 1.57;
  }
}

@mixin orderedList {
  display: flex;
  flex-direction: column;
  gap: $spaceXl2;
  font-size: $fontSizeSm;
  counter-reset: my-counter;

  li {
    counter-increment: my-counter;
    position: relative;
    padding-left: torem(35);

    &:before {
      content: counter(my-counter);
      border-radius: $borderRadiusLg;
      background: $greyColor;
      color: $secondaryColor;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: torem(20);
      height: torem(20);
      text-align: center;
      font-weight: $fontWeightMedium;
    }
  }
}
