@function torem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

@mixin sm-breakpoint {
  @media only screen and (min-width: $smBreakpoint) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (min-width: $mdBreakpoint) {
    @content;
  }
}

@mixin cardStyles {
  border-radius: $borderRadiusMd;
  background: $cardBg;
  box-shadow: $shadow;
  backdrop-filter: blur(7px);
}

@mixin maxWidthBlock {
  @include sm-breakpoint {
    max-width: torem(336);
    margin: 0 auto;
  }
}

@mixin titleColor {
  background: linear-gradient(292deg, #5c41be 19.65%, #8067dc 95.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
