// Breakpoints
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;

// Colors
$text: #2a2444cc;
$white: #fff;
$darkPurple: #422a9b;
$almostWhitePurple: #e1dcf1;
$blue: #0094d2;
$darkBlue: #005173;
$yellow: #ffc053;

// Font sizes
$fontSizeXs: 0.625rem; // 10px;
$fontSizeSm: 0.75rem; // 12px;
$fontSizeMd: 0.875rem; // 14px;
$fontSizeLg: 1rem; // 16px;
$fontSizeXl: 1.125rem; // 18px;
$fontSizeXl2: 1.25rem; // 20px;
$fontSizeXl3: 1.375rem; // 22px;
$fontSizeXl4: 1.625rem; // 26px;
$fontSizeXl5: 2.125rem; // 34px;
$fontSizeXl6: 2.375rem; // 38px;

// Spaces
$spaceXs: 0.625rem; // 10px;
$spaceSm: 0.75rem; // 12px;
$spaceMd: 0.875rem; // 14px;
$spaceLg: 1rem; // 16px;
$spaceXl: 1.125rem; // 18px;
$spaceXl2: 1.25rem; // 20px;
$spaceXl3: 1.375rem; // 22px;
$spaceXl4: 1.625rem; // 26px;
$spaceXl5: 2.125rem; // 34px;
$spaceXl6: 2.375rem; // 38px;

// Sizes
$size48: 3rem; //48px;
$size50: 3.125rem; //50px;
$size60: 3.75rem; //60px;
$size80: 5rem; // 80px;
$size100: 6.25rem; // 100px;

// Font weights
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightBlack: 800;

// Border radius
$borderRadius: 10px;
$borderRadiusMd: 15px;
$borderRadiusLg: 30px;

// Shadows
$shadow: 0 0 30px 0 rgba(21, 47, 89, 0.05);
$shadowSm: 0 0 50px 0 rgba(21, 47, 89, 0.05);

// Border
$border: 1px solid $whiteDarkColor;

// Other
$transition: all 0.3s ease;
