// Breakpoints
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;

// Colors
$mainColor: #152f59;
$secondaryColor: #3981f3;
$secondaryColorActive: #1f71f2;
$whiteColor: #fff;
$whiteDarkColor: #e6efff;
$greyColor: #f2f7ff;
$greyDarkColor: #d9d9d9;
$greyLightColor: #b8bfcc;
$blueLightColor: #9cc0f9;
$redColor: #f33939;
$greenColor: #80f339;
$greenDarkColor: #017b59;
$darkColor: #003b77;

// Font sizes
$fontSize: 1rem;
$fontSizeSm: 0.75rem; // 12px
$fontSizeMd: 0.875rem; // 14px;
$fontSizeLg: 1.125rem; // 18px;
$fontSizeXl: 1.25rem; // 20px;
$fontSizeXl2: 1.5rem; // 24px;
$fontSizeXl3: 2rem; // 32px;
$fontSizeXl4: 2.25rem; // 36px;
$fontSizeXl5: 2.875rem; // 46px;

// Spaces
$spaceXs: 0.3125rem; // 5px;
$spaceSm: 0.5rem; // 8px;
$spaceMd: 0.625rem; // 10px;
$spaceLg: 0.75rem; // 12px;
$spaceXl: 0.875rem; // 14px;
$spaceXl2: 0.9375rem; // 15px;
$spaceXl3: 1.125rem; // 18px;
$spaceXl4: 1.25rem; // 20px;
$spaceXl5: 1.5625rem; // 25px;
$spaceXl6: 1.875rem; // 30px;
$spaceXl7: 2.5rem; // 40px;
$spaceXl8: 3.125rem; // 50px;
$spaceXl9: 6.25rem; // 100px;

// Sizes
$size48: 3rem; //48px;
$size50: 3.125rem; //50px;
$size60: 3.75rem; //60px;
$size80: 5rem; // 80px;
$size100: 6.25rem; // 100px;

// Font weights
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightBlack: 800;

// Border radius
$borderRadius: 10px;
$borderRadiusMd: 15px;
$borderRadiusLg: 30px;

// Shadows
$shadow: 0 0 30px 0 rgba(21, 47, 89, 0.05);
$shadowSm: 0 0 50px 0 rgba(21, 47, 89, 0.05);

// Border
$border: 1px solid $whiteDarkColor;

// Other
$transition: all 0.3s ease;
