.about {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: $spaceXl6;
    font-size: $fontSizeSm;

    .section {
      display: flex;
      flex-direction: column;
      gap: $spaceXl2;

      h3 {
        font-size: $fontSize;
      }

      &--table {
        .content {
          display: flex;
          flex-direction: column;
          gap: $spaceXl6;

          .table {
            .row {
              display: flex;
              align-items: center;
              gap: $spaceXl2;
              padding: $spaceXl2;

              &:nth-child(odd) {
                background: $greyColor;
              }

              &:first-child {
                border-radius: $borderRadius $borderRadius 0 0;
              }

              &:last-child {
                border-radius: 0 0 $borderRadius $borderRadius;
              }

              &__item {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $spaceMd;
                font-size: $fontSizeSm;
              }
            }
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: $spaceXl2;
          }
        }
      }

      &--team {
        .items {
          display: flex;
          flex-wrap: wrap;
          gap: $spaceXl4;

          > .item {
            flex: 0 1 calc(50% - $spaceXl2);
            display: flex;
            align-items: center;
            gap: $spaceXl2;
            font-size: $fontSizeMd;
            font-weight: $fontWeightBold;

            .item__content {
              flex: 1;
            }

            img {
              width: $size80;
              height: $size80;
              border-radius: 50%;
            }

            span {
              font-size: torem(11);
              font-weight: $fontWeightMedium;
              color: $secondaryColor;
            }
          }
        }
      }
    }

    @include sm-breakpoint {
      gap: $spaceXl8;
      font-size: $fontSizeMd;

      .section {
        gap: $spaceXl4;

        .items {
          > .item {
            flex: 1;
            font-size: $fontSize;

            span {
              font-size: $fontSizeMd;
            }
          }
        }

        &--table {
          .content {
            flex-direction: row;

            > div {
              flex: 1;
            }

            .table {
              .row {
                &__item {
                  font-size: $fontSizeMd;
                }
              }
            }

            .text {
              gap: $spaceXl4;
            }
          }
        }
      }
    }
  }
}
