.footer {
  padding: $spaceXl6;
  background: $mainColor;
  box-shadow: $shadow;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: $spaceXl6;
  }

  .logo {
    align-self: center;
    color: $whiteColor;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spaceXl2;
    align-self: center;

    li {
      a {
        color: $whiteColor;
        font-size: $fontSizeMd;
        font-weight: $fontWeightMedium;

        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }

  &__copyright {
    padding-top: $spaceXl6;
    border-top: 1px solid rgba(230, 239, 255, 0.1);
    color: $whiteColor;
    text-align: center;
    font-size: $fontSizeSm;
    font-weight: $fontWeightRegular;
  }

  @include sm-breakpoint {
    &__links {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: $spaceXl4 $spaceXl6;
      padding: 0 $spaceXl7;

      li {
        a {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__copyright {
      padding-top: $spaceXl6;
    }
  }
}
