.header {
  padding: $spaceXl4 0;
  background: $whiteColor;
  border-radius: 0 0 $borderRadiusMd $borderRadiusMd;
  box-shadow: $shadow;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include sm-breakpoint {
    padding: $spaceXl6 0;
    border-radius: 0;
    box-shadow: $shadowSm;
  }
}
