.hero {
  padding: torem(100) 0 torem(134);
  background-image: url('@images/main-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .wrapper {
    .item {
      p {
        font-size: $fontSizeSm;
      }

      h1 {
        font-size: $fontSizeXl2;
        font-weight: $fontWeightSemiBold;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: $spaceXl2;

        > span {
          color: $secondaryColor;
          font-size: $fontSizeXl4;
          font-weight: $fontWeightBlack;
          line-height: 1.333333333;
        }

        > p {
          display: flex;
          align-items: center;
          gap: $spaceSm;
          font-size: $fontSizeXl;
          font-weight: $fontWeightRegular;
          line-height: 1.95;
        }

        > * {
          display: block;
        }
      }

      &:last-child {
        display: none;
      }
    }
  }

  @include sm-breakpoint {
    padding: torem(84) 0 torem(200);
    text-align: center;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $spaceXl6;

      .item {
        flex: 0 1 60%;

        p {
          width: 50%;
          margin: 0 auto;
          font-size: $fontSizeMd;
        }

        h1 {
          font-size: $fontSizeXl4;
          margin-bottom: $spaceMd;

          > span {
            font-size: $fontSizeXl5;
          }

          > p {
            gap: 0;
            flex-direction: column;
            font-size: $fontSizeXl3;

            img {
              width: torem(53);
            }
          }
        }

        &:last-child {
          display: block;
          flex: 0 1 40%;
        }
      }
    }
  }
}
