.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: none;
  gap: torem(30);
  width: torem(470);
  padding: torem(7) torem(12);
  border-radius: 15px 15px 0px 0px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
  z-index: 100;
  overflow: hidden;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
    z-index: -1;
  }

  &__item {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: torem(6);
    font-size: $fontSizeSm;
    font-weight: 500;
    line-height: normal;
    color: $texty;
    text-align: center;
    cursor: pointer;

    svg {
      width: torem(65);
      height: torem(65);

      rect {
        transition: $transition;
      }
    }

    &:hover {
      svg {
        rect {
          fill: $blue;
        }
      }
    }
  }

  &__contact {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: none;
    flex-direction: column;
    gap: torem(28);
    width: torem(788);
    height: torem(300);
    padding: torem(44);
    border-radius: $borderRadiusMd $borderRadiusMd 0px 0px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: $shadowXs;
    transform: translateX(-50%);
    z-index: 110;
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(7px);
      z-index: -1;
    }

    &__head {
      display: flex;
      gap: torem(12);
      text-align: center;

      > p {
        flex: 1;
      }

      button {
        all: unset;
        width: torem(35);
        height: torem(35);
        cursor: pointer;
      }
    }

    &__items {
      display: flex;
      justify-content: center;
      gap: torem(35);
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(12);
      font-size: $fontSizeMd;
      font-weight: 500;
      line-height: normal;
      color: $texty;
      text-align: center;
      cursor: pointer;

      img {
        object-fit: contain;
      }
    }

    > a {
      font-size: $fontSizeXl5;
      font-weight: 500;
      line-height: normal;
      color: $blue;
      text-align: center;
    }
  }

  &--contact {
    width: torem(788);
    height: torem(300);

    &:before {
      display: none;
    }

    .menu {
      &__contact {
        display: flex;
      }

      &__item {
        display: none;
      }
    }
  }

  &.hidden {
    display: none;
  }

  @include sm-breakpoint {
    display: flex;
  }

  &--mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-radius: 15px 15px 0px 0px;
    background: radial-gradient(
      40.46% 69.91% at 50% 100%,
      #35afe3 0%,
      #0094d2 100%
    );
    box-shadow: $shadow;
    z-index: 100;
    overflow: hidden;

    &__logo {
      padding: torem(14) torem(25);
      background: rgba(42, 36, 68, 0.15);
    }

    &__button {
      all: unset;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: torem(12);
      padding: torem(15);
      font-size: $fontSizeMd;
      font-weight: 500;
      line-height: 1;
      color: $white;
      cursor: pointer;
    }

    &.hidden {
      display: none;
    }

    &--open {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(18);
      padding: 0 torem(6);
      padding-bottom: torem(66);
      background: radial-gradient(
        62.29% 62.29% at 50% 37.71%,
        #ebe8f3 0%,
        #eee8fa 42%,
        #f0ebf8 100%
      );
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
      z-index: 100;
      overflow: auto;

      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: -1;
      }

      > * {
        width: torem(360);
      }

      &__head {
        display: flex;
        justify-content: space-between;
        gap: torem(12);
        padding: torem(8) 0;

        button {
          all: unset;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          gap: torem(12);
          width: torem(130);
          padding: torem(11);
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
          font-size: $fontSizeXs;
          font-weight: 500;
          line-height: 1;
          cursor: pointer;
        }
      }

      &__phone {
        font-size: $fontSizeXl5;
        font-weight: 500;
        line-height: normal;
        color: $blue;
        text-align: center;
      }

      &__social {
        display: flex;
        justify-content: center;
        gap: torem(24);
      }

      &__account {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: torem(4);
        padding: torem(15) torem(4);
        border-radius: 14px;
        background: linear-gradient(292deg, #5c41be 19.65%, #8067dc 95.06%);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        font-size: $fontSizeMd;
        font-weight: 500;
        color: $white;
      }

      > button {
        all: unset;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: torem(12);
        width: 100%;
        margin-top: auto;
        padding: torem(16) torem(6);
        border-radius: 15px 15px 0 0;
        background: $red;
        font-size: $fontSizeMd;
        font-weight: 500;
        color: $white;
        cursor: pointer;

        p {
          line-height: 1.15;
        }

        @include sm-breakpoint {
          left: 50%;
          width: torem(360);
          transform: translateX(-50%);
        }
      }

      &__links {
        display: flex;
        gap: torem(6);

        &__item {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: torem(6);
          padding: torem(12) torem(6);
          border-radius: 14px;
          background: $blue;
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
          font-size: $fontSizeXs;
          font-weight: 500;
          line-height: 1;
          color: $white;
          text-align: center;

          img {
            width: torem(18);
            height: torem(18);
          }
        }
      }

      &.hidden {
        display: none;
      }
    }

    @include sm-breakpoint {
      left: 50%;
      width: torem(360);
      transform: translateX(-50%);
    }
  }
}

.menu__desktop {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 120;
  overflow: hidden;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4.5px);
    z-index: -1;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: torem(40);
    width: 420px;
    margin: 12px auto;

    > button {
      all: unset;
      position: absolute;
      bottom: 0;
      right: -56px;
      width: 60px;
      height: 60px;
      transform: translateX(100%);
      cursor: pointer;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;

    button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: $white;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        padding: 11px;
        object-fit: contain;
      }
    }
  }

  &__phone {
    padding: torem(10) 0 torem(14);
    border-radius: $borderRadiusMd2;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;

    a {
      font-size: $fontSizeXl5;
      font-weight: 500;
      line-height: normal;
      color: $blue;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(12);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: torem(30);
    padding: torem(18) torem(20);
    background: $white;
    border-radius: $borderRadiusMd2;
    font-size: $fontSizeXl;
    font-weight: 500;
    line-height: normal;
    color: $darkestPurple;
    cursor: pointer;
  }

  &.visible {
    display: block;
  }
}
