.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  gap: torem(30);
  width: torem(470);
  padding: torem(7) torem(12);
  border-radius: 15px 15px 0px 0px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
  z-index: 100;
  overflow: hidden;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
    z-index: -1;
  }

  &__item {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: torem(6);
    font-size: $fontSizeSm;
    font-weight: 500;
    line-height: normal;
    color: $texty;
    text-align: center;
    cursor: pointer;

    svg {
      width: torem(65);
      height: torem(65);
    }
  }

  &__contact {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: none;
    flex-direction: column;
    gap: torem(28);
    width: torem(788);
    height: torem(300);
    padding: torem(44);
    border-radius: $borderRadiusMd $borderRadiusMd 0px 0px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
    z-index: 110;
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(7px);
      z-index: -1;
    }

    &__head {
      display: flex;
      gap: torem(12);
      text-align: center;

      > p {
        flex: 1;
      }

      button {
        all: unset;
        width: torem(35);
        height: torem(35);
        cursor: pointer;
      }
    }

    &__items {
      display: flex;
      justify-content: space-around;
      gap: torem(35);
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(12);
      font-size: $fontSizeMd;
      font-weight: 500;
      line-height: normal;
      color: $texty;
      text-align: center;
      cursor: pointer;

      img {
        object-fit: contain;
      }
    }

    > a {
      font-size: $fontSizeXl5;
      font-weight: 500;
      line-height: normal;
      color: $blue;
      text-align: center;
    }
  }

  &--contact {
    width: torem(788);
    height: torem(300);

    &:before {
      display: none;
    }

    .menu {
      &__contact {
        display: flex;
      }

      &__item {
        display: none;
      }
    }
  }

  &.hidden {
    display: none;
  }
}

.menu__desktop {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 120;
  overflow: hidden;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4.5px);
    z-index: -1;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: torem(40);
    width: 420px;
    margin: 12px auto;

    > button {
      all: unset;
      position: absolute;
      bottom: 0;
      right: -56px;
      width: 60px;
      height: 60px;
      transform: translateX(100%);
      cursor: pointer;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;

    button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: $white;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        padding: 11px;
        object-fit: contain;
      }
    }
  }

  &__phone {
    padding: torem(10) 0 torem(14);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;

    a {
      font-size: $fontSizeXl5;
      font-weight: 500;
      line-height: normal;
      color: $blue;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(12);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: torem(30);
    padding: torem(20);
    background: $white;
    border-radius: 20px;
    font-size: $fontSizeXl;
    font-weight: 500;
    line-height: normal;
    color: $darkestPurple;
    cursor: pointer;
  }

  &.visible {
    display: block;
  }
}
