.navbar {
  .navbar {
    &__menu {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100vh;
      gap: $spaceXl6;
      padding: $spaceXl9 0 0;
      text-align: center;
      overflow: hidden;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(57, 129, 243, 0.85);
        backdrop-filter: blur(5px);
        z-index: -1;
      }

      .contacts {
        margin-top: $spaceXl7;
      }
    }

    @include md-breakpoint {
      &__menu {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: $spaceXl4;
        height: auto;
        padding: torem(4) 0;
        transform: none;
        text-align: initial;
        overflow: visible;

        &:before {
          display: none;
        }
      }
    }
  }
}
