.review {
  display: flex;
  flex-direction: column;
  gap: $spaceXl2;
  font-size: $fontSizeSm;

  &__head {
    display: flex;
    align-items: center;
    gap: $spaceXl2;

    .image {
      img {
        width: $size50;
        height: $size50;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: $spaceSm;

      &__name {
        font-size: $fontSizeMd;
        color: $secondaryColor;
        font-weight: $fontWeightSemiBold;
      }

      &__stars {
        display: flex;
        align-items: center;
        gap: $spaceMd;
        color: $greyLightColor;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: $spaceXl2;
  }

  &:not(:last-child) {
    padding-bottom: $spaceXl4;
    border-bottom: $border;
  }

  &:not(:first-child) {
    padding-top: $spaceXl4;
  }

  @include sm-breakpoint {
    gap: $spaceXl4;
    font-size: $fontSizeMd;

    &__head {
      .content {
        gap: torem(3);
      }
    }

    &:not(:last-child) {
      padding-bottom: $spaceXl5;
    }

    &:not(:first-child) {
      padding-top: $spaceXl5;
    }
  }
}
