.section {
  .container {
    > h2 {
      margin-bottom: torem(40);
      font-size: $fontSizeXl5;
      font-weight: 500;
      line-height: 1;
      color: $darkPurple;
      text-align: center;
    }
  }
}

.services {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: torem(12);
    padding: 0 torem(12);

    @include sm-breakpoint {
      flex-direction: row;
      justify-content: center;
      gap: torem(20);
      width: calc(100vw - torem(24));
      overflow-x: auto;
    }
  }
}

.premium {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: torem(12);

    @include sm-breakpoint {
      flex-direction: row;
      gap: torem(20);
      overflow-x: auto;
    }
  }
}

.info-list {
  padding: torem(44) 0;
  background: $white;

  &__item {
    line-height: 1.4;

    h3 {
      margin-bottom: torem(16);
      font-size: $fontSizeXl4;
      font-weight: 500;
      line-height: 1.1;
      color: $darkPurple;
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: torem(16);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: torem(8);
      margin-bottom: torem(14);
      padding-left: torem(24);
      list-style: disc;

      li {
        &::marker {
          color: $text;
        }
      }
    }
  }
}

.section--why-we {
  &__buttons {
    display: flex;
    justify-content: center;
    gap: torem(12);
    margin-bottom: torem(20);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(12);

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(12);
      padding: torem(24) torem(12);
      border-radius: $borderRadiusMd;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7);
      text-align: center;
      font-size: $fontSizeMd;
      line-height: 1.3;

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: torem(68);
        height: torem(68);
        margin-bottom: torem(3);
        padding: torem(14);
        border-radius: 8px;
        background: $lightGrey;
      }

      h3 {
        font-size: $fontSizeXl3;
        font-weight: 600;
        line-height: 1.2;
        color: $darkPurple;
      }
    }
  }

  @include sm-breakpoint {
    &__items {
      flex-direction: row;
      flex-wrap: wrap;
      gap: torem(20);

      &__item {
        flex: 0 1 calc(50% - torem(10));
        padding: torem(44);

        .image {
          width: torem(80);
          height: torem(80);
          margin-bottom: torem(12);
        }
      }
    }
  }
}

.section--clients {
  .container {
    h2 {
      max-width: torem(235);
      margin: 0 auto;
      font-size: $fontSizeXl3;
      font-weight: 600;
      line-height: normal;
      color: $texty;

      span {
        font-size: torem(36);
        color: $mainPurple;
      }
    }
  }
}

.section--reviews {
  .container {
    display: flex;
    flex-direction: column;
    gap: torem(20);

    @include sm-breakpoint {
      flex-direction: row;

      > * {
        flex: 1;
      }
    }
  }

  > .button {
    width: fit-content;
    margin: torem(22) auto 0;
  }
}

.section--how-we-clean {
  &__items {
    &__item {
      display: flex;
      flex-direction: column;

      > picture,
      img {
        border-radius: $borderRadiusMd $borderRadiusMd 0 0;
      }

      &__content {
        padding: torem(12);
        background: rgba(255, 255, 255, 0.4);
        border-radius: 0 0 $borderRadiusMd $borderRadiusMd;

        h3 {
          margin-bottom: torem(24);
          font-size: $fontSizeXl4;
          color: $darkPurple;
          font-weight: 500;
          line-height: 1.1;
        }

        @include sm-breakpoint {
          padding: torem(48);
        }
      }
    }
  }
}

.section--cleaners {
  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(20);

    @include sm-breakpoint {
      flex-direction: row;
    }
  }
}

.section--join-us {
  position: relative;
  background: linear-gradient(331deg, #5c41be 32.86%, #8067dc 91.92%);

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    picture,
    img {
      height: 100%;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: torem(26);
    text-align: center;
    padding: torem(90) torem(32);
    z-index: 1;

    h2 {
      margin: 0;
      font-size: torem(28);
      font-weight: 600;
      line-height: normal;
      color: $white;
    }
  }

  @include sm-breakpoint {
    .container {
      width: 38%;
      padding: torem(168) 0;
    }
  }
}

.section--faq {
  padding: torem(40) 0;

  @include sm-breakpoint {
    padding: torem(90) 0;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(12);
  }

  .container {
    > .button {
      width: fit-content;
      margin: torem(20) auto 0;
    }
  }
}

.section {
  &.section--social-media {
    h2 {
      font-size: $fontSizeXl3;
      font-weight: 600;
      color: $white;

      @include sm-breakpoint {
        font-size: $fontSizeXl5;
      }
    }
  }
}

.section--social-media {
  position: relative;
  padding: torem(42) 0;
  background: linear-gradient(300deg, #5c41be 15.55%, #8067dc 120.24%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/social-media-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include sm-breakpoint {
    padding: torem(125) 0;

    &:before {
      background-size: contain;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: torem(22) torem(35);

    @include sm-breakpoint {
      flex-wrap: nowrap;
      gap: torem(64);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: torem(12);
    text-align: center;
    font-size: $fontSizeMd;
    font-weight: 500;
    line-height: normal;
    color: $white;
  }
}

.section--blog {
  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(20);

    > .blog {
      flex: 1;
    }

    @include sm-breakpoint {
      flex-direction: row;
    }
  }

  .container {
    > .button {
      width: fit-content;
      margin: torem(20) auto 0;
    }
  }
}
