{% macro button(url, title, type="button", isSecondary) %} {% if url %}
<a
  href="{{ url }}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
>
  {% if icon %} {% endif %} {{title}}
</a>

{% elif icon %}
<button
  type="{{ type}}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
></button>

{% else %}
<button
  type="{{ type }}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
  aria-label="{{ title }}"
>
  {{title}}
</button>
{% endif %} {% endmacro %}
