<article
  class="cleaner"
  itemscope
  itemtype="https://schema.org/Organization"
  itemprop="cleaner"
>
  <picture>
    <source srcset="@images/cleaner.webp" type="image/webp" />
    <img src="@images/cleaner.png" class="cleaner__logo" loading="lazy" />
  </picture>
  <div class="cleaner__header">
    <div class="cleaner__name" itemprop="name">Анна</div>
    <div class="cleaner__rating">
      <p>4.6</p>
      <img src="@images/icons/icon-star.svg" alt="icon star" />
    </div>
  </div>
  <div class="cleaner__footer">
    <div class="cleaner__footer__item">
      <p>Всего заказов</p>
      <p>156</p>
    </div>
    <div class="cleaner__footer__item">
      <p>На платформе</p>
      <p>2 года</p>
    </div>
  </div>
</article>
