{% macro contactsItem(title, email, phone, website) %}
<div class="contacts">
  <p class="contacts__title">{{ title }}</p>
  <div class="contacts__items">
    {% if email %}
    <div class="item">
      <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
    {% endif %} {% if phone %}
    <div class="item">
      <a href="tel:+{{ phone }}">{{phone}}</a>
    </div>
    {% endif %} {% if website %}
    <div class="item">
      <a href="{{ website }}" target="_blank">{{website}}</a>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}
