<dialog class="dialog dialog--city">
  <div class="dialog__inner">
    <div class="dialog--city__items">
      <button class="item">Вильнюс</button>
      <button class="item">Рига</button>
      <button class="item">Минск</button>
      <button class="item">Каунас</button>
      <button class="item">Варшава</button>
      <button class="item">Белосток</button>
      <button class="item">Гродно</button>
      <button class="item">Брест</button>
    </div>
    <div class="form-item form-item--select dialog--city__select">
      <select name="city" id="city">
        <option value="10">0-10 км от города</option>
        <option value="20">10-20 км от города</option>
        <option value="30">20-30 км от города</option>
        <option value="40">30-40 км от города</option>
      </select>
    </div>

    <button class="button">Выбрать</button>
  </div>
</dialog>
