<dialog class="dialog dialog--nonstandart">
  <div class="dialog__inner">
    <h3>Уборка нестандартных помещений</h3>
    <p>
      Уборка таких помещений как гараж, кафе, склад или других требует
      индивидуального рассчёта. Свяжитесь с нами!
    </p>
    <div class="social">
      <a href="#" class="section--social-media__item">
        <img
          src="@images/icons/icon-tg-modal.svg"
          alt="telegram"
          width="30"
          height="30"
          loading="lazy"
        />
        <p>Telegram</p>
      </a>
      <a href="#" class="section--social-media__item">
        <img
          src="@images/icons/icon-viber-modal.svg"
          alt="viber"
          width="30"
          height="30"
          loading="lazy"
        />
        <p>Viber</p>
      </a>
      <a href="#" class="section--social-media__item">
        <img
          src="@images/icons/icon-inst-modal.svg"
          alt="Instagram"
          width="30"
          height="30"
          loading="lazy"
        />
        <p>Instagram</p>
      </a>
    </div>
    <form>
      <div class="form-item">
        <label for="phone">
          <input
            type="tel"
            name="phone"
            id="phone"
            placeholder="Номер телефона"
          />
        </label>
      </div>
      <div class="form-item">
        <label for="comment">
          <textarea
            name="comment"
            id="comment"
            placeholder="Что ещё нам нужно знать?"
            rows="4"
          ></textarea>
        </label>
      </div>
      <button class="button">Отправить!</button>
    </form>
    <button class="dialog__close">
      <img
        src="@images/icons/icon-delete.svg"
        alt="icon delete"
        width="35"
        height="35"
      />
    </button>
  </div>
</dialog>
