<section id="types" class="section types">
  <div class="container">
    <div class="wrapper">
      <div class="types__item">
        <img src="@images/icons/icon-flat.svg" alt="Квартира" />
        <p>Квартира</p>
      </div>
      <div class="types__item">
        <img src="@images/icons/icon-office.svg" alt="Офис" />
        <p>Офис</p>
      </div>
      <div class="types__item">
        <img src="@images/icons/icon-home.svg" alt="Дом" />
        <p>Дом</p>
      </div>
      <div class="types__item">
        <img src="@images/icons/icon-building.svg" alt="Помещение" />
        <p>Помещение</p>
      </div>
    </div>
  </div>
</section>
