<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Metla" />
    <meta name="keywords" content="metla" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="../../../fonts/Raleway.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="../../../scss/style.scss" rel="stylesheet" />
    <title>Cleaner article | Metla</title>
  </head>

  <body
    class="body body--cleaner"
    itemscope
    itemtype="https://schema.org/WebPage"
  >
    <div class="content not-home cleaner-article cleaner-padding">
      <header class="header" itemscope itemtype="https://schema.org/WPHeader">
        <meta itemprop="headline" content="Metla" />
        <meta itemprop="description" content="" />
        <meta itemprop="keywords" content="Metla" />

        {% include "src/html/layouts/header.html" %}
      </header>
      <main class="main" role="main">
        <section class="section section--cleaner-title">
          <div class="container">
            <h1>1.Уборка квартиры</h1>
          </div>
        </section>
        <section class="section section--cleaner-article">
          <div class="container">
            <div class="item">
              <p>
                {НазваниеКонтр} именуемое в дальнейшем «Заказчик», в лице
                {КонтрВЛице}, действующего на основании Устава, с одной стороны,
                и ИП {ФИОИП}, именуемый в дальнейшем «Исполнитель», с другой
                стороны, именуемые в дальнейшем «Стороны», заключили настоящий
                Договор о нижеследующем:
              </p>
              <h3>1. Предмет договора</h3>
              <p>
                1.1. По договору возмездного оказания услуг Исполнитель
                обязуется по заданию Заказчика оказать услуги, указанные в п.1.2
                настоящего Договора, а Заказчик обязуется принять и оплатить эти
                услуги.
              </p>
              <p>1.2. Исполнитель обязуется оказать следующие услуги:</p>
            </div>
            <div class="item">
              <p>
                Услуги считаются оказанными после подписания сторонами акта
                оказанных услуг
              </p>
              <h3>2. Сумма договора и порядок расчетов</h3>
              <p>
                2.1. Сумма настоящего Договора составляет
                ____________________________, включая НДС
                __________________________________________________________.
              </p>
              <p>
                2.2. Оплата по настоящему Договору производится в
                течение__________________ дней с момента подписания Договора.
              </p>
              <p>3. Права и обязанности сторон</p>
              <p>3.1. Исполнитель обязан:</p>
              <p>3.1.1. Оказать услуги надлежащего качества.</p>
              <p>
                3.1.2. Оказать услуги в полном объеме в срок, указанный в п. 8.1
                настоящего Договора.
              </p>
              <p>
                3.1.3. Безвозмездно исправить по требованию Заказчика все
                выявленные недостатки, если в процессе оказания услуг
                Исполнитель допустил отступление от условий Договора, ухудшившее
                качество работы, в течение _________________________ дней.
              </p>
              <p>
                3.1.4. Выполнить работу лично или с привлечением третьих лиц.
              </p>
            </div>
            <button class="button button--green">Принять</button>
          </div>
        </section>
      </main>
    </div>
    {% include "src/html/layouts/menu-cleaner.html" %}
    <script src="../../../js/script.js"></script>
  </body>
</html>
