{% import "src/html/components/user-card.html" as userCardItem %} {% import
"src/html/components/serviceCard.html" as serviceCardItem %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Metla" />
    <meta name="keywords" content="metla" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="../../../fonts/Raleway.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="../../../scss/style.scss" rel="stylesheet" />
    <title>Cleaner order completed | Metla</title>
  </head>

  <body
    class="body body--cleaner"
    itemscope
    itemtype="https://schema.org/WebPage"
  >
    <div
      class="content not-home cleaner-new-order user-account--locations user-account--cards"
    >
      <header class="header" itemscope itemtype="https://schema.org/WPHeader">
        <meta itemprop="headline" content="Metla" />
        <meta itemprop="description" content="" />
        <meta itemprop="keywords" content="Metla" />

        {% include "src/html/layouts/header.html" %}
      </header>
      <main class="main" role="main">
        <section class="section section--user-title">
          <div class="container">
            <h1>Мои карты</h1>
          </div>
        </section>
        <section class="section section--user--cards">
          <div class="container">
            <div class="section--user--cards__item">
              <div class="item__header">
                <p>МИР</p>
                <button>
                  <img
                    src="@images/icons/icon-delete.svg"
                    alt="icon delete"
                    width="40"
                    height="40"
                  />
                </button>
              </div>
              <div class="item__content">
                <img
                  src="@images/icons/icon-user-card.svg"
                  alt="icon user card"
                  width="30"
                  height="30"
                />
                <p>**** **** **** 4432</p>
              </div>
            </div>
            <div class="section--user--cards__item">
              <div class="item__header">
                <p>Альфа Банк</p>
                <button>
                  <img
                    src="@images/icons/icon-delete.svg"
                    alt="icon delete"
                    width="40"
                    height="40"
                  />
                </button>
              </div>
              <div class="item__content">
                <img
                  src="@images/icons/icon-user-card.svg"
                  alt="icon user card"
                  width="30"
                  height="30"
                />
                <p>**** **** **** 5674</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--address">
          <div class="container">
            <h2>Добавить карту</h2>

            <form class="section--address__form">
              <p>Заголовок для карты</p>
              <div class="form-item">
                <label for="number">
                  <input
                    type="text"
                    name="number"
                    id="number"
                    placeholder="Номер карты"
                  />
                </label>
              </div>
              <div class="form-item">
                <label for="expiry">
                  <input
                    type="text"
                    name="expiry"
                    id="expiry"
                    placeholder="Срок действия"
                  />
                </label>
              </div>
              <div class="form-item">
                <label for="cvc">
                  <input type="text" name="cvc" id="cvc" placeholder="CVC" />
                </label>
              </div>
              <div class="form-item">
                <label for="host">
                  <input
                    type="text"
                    name="host"
                    id="host"
                    placeholder="Владелец"
                  />
                </label>
              </div>

              <div class="form-actions">
                <button class="button button--green">Сохранить</button>
              </div>
            </form>
          </div>
        </section>
      </main>
      <footer
        class="footer"
        aria-label="Site"
        itemscope
        itemtype="https://schema.org/WPFooter"
      >
        {% include "src/html/layouts/footer.html" %}
      </footer>
    </div>

    <script src="../../../js/script.js"></script>
  </body>
</html>
