<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Metla" />
    <meta name="keywords" content="metla" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="../../fonts/Raleway.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="../../scss/style.scss" rel="stylesheet" />
    <title>Blog | Metla</title>
  </head>

  <body class="body" itemscope itemtype="https://schema.org/WebPage">
    <div class="content not-home blog-page">
      <header class="header" itemscope itemtype="https://schema.org/WPHeader">
        <meta itemprop="headline" content="Metla" />
        <meta itemprop="description" content="" />
        <meta itemprop="keywords" content="Metla" />

        {% include "src/html/layouts/header.html" %}
      </header>
      <main class="main" role="main">
        {% include "src/html/layouts/main-blog.html" %}
      </main>
      <footer
        class="footer"
        aria-label="Site"
        itemscope
        itemtype="https://schema.org/WPFooter"
      >
        {% include "src/html/layouts/footer.html" %}
      </footer>
    </div>
    {% include "src/html/layouts/menu.html" %}{% include
    "src/html/layouts/menu-desktop.html" %}
    <script src="../../js/script.js"></script>
    <script src="../../js/swiper.js"></script>
  </body>
</html>
