<section class="section section--cleaner-title">
  <div class="container">
    <h1>Выходные</h1>
    <p>
      Каждый клинер обязательно должен заполнять выходные на следующую неделю до
      конца текущей пятницы. Вы можете принимать заказы только в те недели, в
      которые вы выставили себе график.
    </p>
  </div>
</section>
<sectrion class="section section--dayoff">
  <div class="container">
    <div class="wrapper">
      <p>Не утверждено дней на следующей неделе: 2</p>
    </div>
  </div>
</sectrion>
<section class="section section--calendar">
  <div class="container">
    <div class="section--calendar__header">
      <button>
        <img
          src="@images/icons/icon-prev-calendar.svg"
          alt="icon prev"
          width="50"
          height="50"
        />
      </button>
      <div class="section--calendar__header__title">
        <p>Январь 2024</p>
        <img
          src="@images/icons/icon-date.svg"
          alt="icon date"
          width="30"
          height="30"
        />
      </div>
      <button>
        <img
          src="@images/icons/icon-next-calendar.svg"
          alt="icon next"
          width="50"
          height="50"
        />
      </button>
    </div>
    <div class="section--calendar__week">
      <p>ПН</p>
      <p>ВТ</p>
      <p>СР</p>
      <p>ЧТ</p>
      <p>ПТ</p>
      <p>СБ</p>
      <p>ВС</p>
    </div>
    <div class="section--calendar__days">
      <div class="section--calendar__day"><p>01.01</p></div>
      <div class="section--calendar__day"><p>02.01</p></div>
      <div class="section--calendar__day"><p>03.01</p></div>
      <div class="section--calendar__day"><p>04.01</p></div>
      <div class="section--calendar__day"><p>05.01</p></div>
      <div class="section--calendar__day dayoff">
        <p>06.01</p>
        <img
          src="@images/icons/icon-dayoff.svg"
          alt="icon dayoff"
          width="28"
          height="28"
        />
      </div>
      <div class="section--calendar__day dayoff">
        <p>07.01</p>
        <img
          src="@images/icons/icon-dayoff.svg"
          alt="icon dayoff"
          width="28"
          height="28"
        />
      </div>
      <div class="section--calendar__day"><p>08.01</p></div>
      <div class="section--calendar__day"><p>09.01</p></div>
      <div class="section--calendar__day"><p>10.01</p></div>
      <div class="section--calendar__day"><p>11.01</p></div>
      <div class="section--calendar__day"><p>12.01</p></div>
      <div class="section--calendar__day dayoff">
        <p>13.01</p>
        <img
          src="@images/icons/icon-dayoff.svg"
          alt="icon dayoff"
          width="28"
          height="28"
        />
      </div>
      <div class="section--calendar__day dayoff">
        <p>14.01</p>
        <img
          src="@images/icons/icon-dayoff.svg"
          alt="icon dayoff"
          width="28"
          height="28"
        />
      </div>
      <div class="section--calendar__day"><p>15.01</p></div>
      <div class="section--calendar__day"><p>16.01</p></div>
      <div class="section--calendar__day"><p>17.01</p></div>
      <div class="section--calendar__day"><p>18.01</p></div>
      <div class="section--calendar__day"><p>19.01</p></div>
      <div class="section--calendar__day active"><p>20.01</p></div>
      <div class="section--calendar__day"><p>21.01</p></div>
      <div class="section--calendar__day inactive"><p>22.01</p></div>
      <div class="section--calendar__day inactive"><p>23.01</p></div>
      <div class="section--calendar__day inactive"><p>24.01</p></div>
      <div class="section--calendar__day inactive"><p>25.01</p></div>
      <div class="section--calendar__day inactive"><p>26.01</p></div>
      <div class="section--calendar__day inactive"><p>27.01</p></div>
      <div class="section--calendar__day inactive"><p>28.01</p></div>
      <div class="section--calendar__day inactive"><p>29.01</p></div>
      <div class="section--calendar__day inactive"><p>30.01</p></div>
      <div class="section--calendar__day inactive"><p>31.01</p></div>
      <div class="section--calendar__day inactive"><p>01.02</p></div>
      <div class="section--calendar__day inactive"><p>02.02</p></div>
      <div class="section--calendar__day inactive"><p>03.02</p></div>
      <div class="section--calendar__day inactive"><p>04.02</p></div>
    </div>
  </div>
</section>
<section class="section section--working-time">
  <div class="container">
    <h2>Часы работы 20.01</h2>
    <div class="section--working-time__items">
      <div class="section--working-time__item">8</div>
      <div class="section--working-time__item">9</div>
      <div class="section--working-time__item">10</div>
      <div class="section--working-time__item">11</div>
      <div class="section--working-time__item">12</div>
      <div class="section--working-time__item">13</div>
      <div class="section--working-time__item">14</div>
      <div class="section--working-time__item">15</div>
      <div class="section--working-time__item">16</div>
      <div class="section--working-time__item">17</div>
      <div class="section--working-time__item free">18</div>
      <div class="section--working-time__item free">19</div>
      <div class="section--working-time__item free">20</div>
      <div class="section--working-time__item free">21</div>
    </div>
    <button class="button">Сделать 20.01 выходным</button>
  </div>
</section>
<section class="section section--dayoff-button">
  <div class="container">
    <button class="button button--green">Утвердить 20.01</button>
  </div>
</section>
