{% import "src/html/components/user-card.html" as userCardItem %}
<section class="section section--cleaner-title">
  <div class="container">
    <h1>Заказы</h1>
  </div>
</section>
<section class="section section--cleaner-orders">
  <div class="container">
    <h3>Привет! Рады снова тебя видеть.</h3>
    <div class="section--cleaner-orders__items">
      <div class="section--cleaner-orders__item">
        <p>Всего заказов выполнено</p>
        <p>56</p>
      </div>
      <div class="section--cleaner-orders__item">
        <p>Средняя оценка за всё время</p>
        <p>4.2</p>
      </div>
    </div>
  </div>
</section>
<section class="section section--tabs">
  <div class="container">
    <div class="tab-wrap">
      <div class="buttons">
        <button class="tab active" data-id="orders">
          Мои заказы <span>12</span>
        </button>
        <button class="tab" data-id="orders-available">
          Доступные заказы <span>12</span>
        </button>
      </div>
      <div class="content">
        <div class="tab__content active" id="orders">
          <section class="section section--calendar">
            <div class="container">
              <div class="section--calendar__header">
                <button>
                  <img
                    src="@images/icons/icon-prev-calendar.svg"
                    alt="icon prev"
                    width="50"
                    height="50"
                  />
                </button>
                <div class="section--calendar__header__title">
                  <p>Январь 2024</p>
                  <img
                    src="@images/icons/icon-date.svg"
                    alt="icon date"
                    width="30"
                    height="30"
                  />
                </div>
                <button>
                  <img
                    src="@images/icons/icon-next-calendar.svg"
                    alt="icon next"
                    width="50"
                    height="50"
                  />
                </button>
              </div>
              <div class="section--calendar__week">
                <p>ПН</p>
                <p>ВТ</p>
                <p>СР</p>
                <p>ЧТ</p>
                <p>ПТ</p>
                <p>СБ</p>
                <p>ВС</p>
              </div>
              <div class="section--calendar__days">
                <div class="section--calendar__day"><p>01.01</p></div>
                <div class="section--calendar__day"><p>02.01</p></div>
                <div class="section--calendar__day"><p>03.01</p></div>
                <div class="section--calendar__day"><p>04.01</p></div>
                <div class="section--calendar__day"><p>05.01</p></div>
                <div class="section--calendar__day dayoff">
                  <p>06.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day dayoff">
                  <p>07.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day"><p>08.01</p></div>
                <div class="section--calendar__day"><p>09.01</p></div>
                <div class="section--calendar__day"><p>10.01</p></div>
                <div class="section--calendar__day"><p>11.01</p></div>
                <div class="section--calendar__day"><p>12.01</p></div>
                <div class="section--calendar__day dayoff">
                  <p>13.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day dayoff">
                  <p>14.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day current orders">
                  <p>15.01</p>
                  <p>1</p>
                </div>
                <div class="section--calendar__day orders">
                  <p>16.01</p>
                  <p>1</p>
                </div>
                <div class="section--calendar__day orders">
                  <p>17.01</p>
                  <p>2</p>
                </div>
                <div class="section--calendar__day"><p>18.01</p></div>
                <div class="section--calendar__day"><p>19.01</p></div>
                <div class="section--calendar__day active"><p>20.01</p></div>
                <div class="section--calendar__day"><p>21.01</p></div>
                <div class="section--calendar__day inactive"><p>22.01</p></div>
                <div class="section--calendar__day inactive"><p>23.01</p></div>
                <div class="section--calendar__day inactive"><p>24.01</p></div>
                <div class="section--calendar__day inactive"><p>25.01</p></div>
                <div class="section--calendar__day inactive"><p>26.01</p></div>
                <div class="section--calendar__day inactive"><p>27.01</p></div>
                <div class="section--calendar__day inactive"><p>28.01</p></div>
                <div class="section--calendar__day inactive"><p>29.01</p></div>
                <div class="section--calendar__day inactive"><p>30.01</p></div>
                <div class="section--calendar__day inactive"><p>31.01</p></div>
                <div class="section--calendar__day inactive"><p>01.02</p></div>
                <div class="section--calendar__day inactive"><p>02.02</p></div>
                <div class="section--calendar__day inactive"><p>03.02</p></div>
                <div class="section--calendar__day inactive"><p>04.02</p></div>
              </div>
            </div>
          </section>
        </div>

        <div class="tab__content" id="orders-available">
          <section class="section section--calendar">
            <div class="container">
              <div class="section--calendar__header">
                <button>
                  <img
                    src="@images/icons/icon-prev-calendar.svg"
                    alt="icon prev"
                    width="50"
                    height="50"
                  />
                </button>
                <div class="section--calendar__header__title">
                  <p>Январь 2024</p>
                  <img
                    src="@images/icons/icon-date.svg"
                    alt="icon date"
                    width="30"
                    height="30"
                  />
                </div>
                <button>
                  <img
                    src="@images/icons/icon-next-calendar.svg"
                    alt="icon next"
                    width="50"
                    height="50"
                  />
                </button>
              </div>
              <div class="section--calendar__week">
                <p>ПН</p>
                <p>ВТ</p>
                <p>СР</p>
                <p>ЧТ</p>
                <p>ПТ</p>
                <p>СБ</p>
                <p>ВС</p>
              </div>
              <div class="section--calendar__days">
                <div class="section--calendar__day"><p>01.01</p></div>
                <div class="section--calendar__day"><p>02.01</p></div>
                <div class="section--calendar__day"><p>03.01</p></div>
                <div class="section--calendar__day"><p>04.01</p></div>
                <div class="section--calendar__day"><p>05.01</p></div>
                <div class="section--calendar__day dayoff">
                  <p>06.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day dayoff">
                  <p>07.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day"><p>08.01</p></div>
                <div class="section--calendar__day"><p>09.01</p></div>
                <div class="section--calendar__day"><p>10.01</p></div>
                <div class="section--calendar__day"><p>11.01</p></div>
                <div class="section--calendar__day"><p>12.01</p></div>
                <div class="section--calendar__day dayoff">
                  <p>13.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day dayoff">
                  <p>14.01</p>
                  <img
                    src="@images/icons/icon-dayoff.svg"
                    alt="icon dayoff"
                    width="28"
                    height="28"
                  />
                </div>
                <div class="section--calendar__day current"><p>15.01</p></div>
                <div class="section--calendar__day orders">
                  <p>16.01</p>
                  <p>1</p>
                </div>
                <div class="section--calendar__day orders">
                  <p>17.01</p>
                  <p>1</p>
                </div>
                <div class="section--calendar__day orders">
                  <p>18.01</p>
                  <p>2</p>
                </div>
                <div class="section--calendar__day"><p>19.01</p></div>
                <div class="section--calendar__day active"><p>20.01</p></div>
                <div class="section--calendar__day"><p>21.01</p></div>
                <div class="section--calendar__day inactive"><p>22.01</p></div>
                <div class="section--calendar__day inactive"><p>23.01</p></div>
                <div class="section--calendar__day inactive"><p>24.01</p></div>
                <div class="section--calendar__day inactive"><p>25.01</p></div>
                <div class="section--calendar__day inactive"><p>26.01</p></div>
                <div class="section--calendar__day inactive"><p>27.01</p></div>
                <div class="section--calendar__day inactive"><p>28.01</p></div>
                <div class="section--calendar__day inactive"><p>29.01</p></div>
                <div class="section--calendar__day inactive"><p>30.01</p></div>
                <div class="section--calendar__day inactive"><p>31.01</p></div>
                <div class="section--calendar__day inactive"><p>01.02</p></div>
                <div class="section--calendar__day inactive"><p>02.02</p></div>
                <div class="section--calendar__day inactive"><p>03.02</p></div>
                <div class="section--calendar__day inactive"><p>04.02</p></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section--cleaner-items hidden">
  <div class="container">
    <h2>Мои заказы на 11.01.2024</h2>
    <div class="section--cleaner-items__wrapper">
      {{ userCardItem.userCard("Уборка №4567", "no-cliner") }} {{
      userCardItem.userCard("Химчистка мебели №4568", "", true) }} {{
      userCardItem.userCard("Уборка №4569", "in-process", true) }} {{
      userCardItem.userCard("Уборка №4570", "no-rating", true) }} {{
      userCardItem.userCard("Уборка №4571", "done", true) }}
    </div>
  </div>
</section>
