<section class="section section--cleaner-title">
  <div class="container">
    <h1>Выходные</h1>
    <p>
      Каждый клинер обязательно должен заполнять выходные на следующую неделю до
      конца текущей пятницы. Вы можете принимать заказы только в те недели, в
      которые вы выставили себе график.
    </p>
  </div>
</section>
<sectrion class="section section--dayoff">
  <div class="container">
    <p>Не утверждено дней на следующей неделе: 2</p>
  </div>
</sectrion>
<section class="section section--working-time">
  <div class="container">
    <h2>Часы работы 20.01</h2>
    <div class="section--working-time__items">
      <div class="section--working-time__item">8</div>
      <div class="section--working-time__item">9</div>
      <div class="section--working-time__item">10</div>
      <div class="section--working-time__item">11</div>
      <div class="section--working-time__item">12</div>
      <div class="section--working-time__item">13</div>
      <div class="section--working-time__item">14</div>
      <div class="section--working-time__item">15</div>
      <div class="section--working-time__item">16</div>
      <div class="section--working-time__item">17</div>
      <div class="section--working-time__item">18</div>
      <div class="section--working-time__item">19</div>
      <div class="section--working-time__item">20</div>
      <div class="section--working-time__item">21</div>
    </div>
    <button class="button">Сделать 20.01 выходным</button>
  </div>
</section>
<section class="section section--dayoff-button">
  <div class="container">
    <button class="button button--green">Утвердить 20.01</button>
  </div>
</section>
