{% import "src/html/components/button.html" as buttonItem %}

<div class="container">
  {% include "src/html/components/breadcrumb.html" %}

  <div class="page-content">
    <section class="section section--app">
      <div class="wrapper">
        <div class="items">
          <div class="item">
            <div class="item__image">
              <img src="@images/bet-1.svg" alt="1xbet" loading="lazy" />
            </div>
            <div class="item__text">
              <p>1xBet App Download for Android</p>
              <span>Hillside Technology Limited</span>
            </div>
          </div>

          <div class="item">
            <p><span>100%</span> Up To <span>25,000$</span></p>
            <ul class="list--done list--done--blue">
              <li>Use Bonus Code “BESTAPP” for Exclusive</li>
              <li>Welcome Offer Boost</li>
            </ul>
          </div>

          <div class="item">
            <div class="item__block">
              <p>56K</p>
              <span>Downloads</span>
            </div>
            <div class="item__block">
              <p>45.5MB</p>
              <span>File size</span>
            </div>
            <div class="item__block item__block--image">
              <p>
                <img
                  src="@images/android.svg"
                  alt="android icon"
                  loading="lazy"
                />7.0+
              </p>
              <span>Android version</span>
            </div>
          </div>
        </div>
        {{ buttonItem.button('/', 'icon-android.svg', 'Get 1xBet for Android')
        }}
        <p><span>8.0.2.408-row</span> (23-11-2023) The lastest version</p>
        <a href="#" class="open-popup">Is the download not working?</a>
      </div>
    </section>

    <section class="section section--tabs">
      {% include "src/html/layouts/tabs.html" %} {% include
      "src/html/components/tags.html" %}
      <div class="page-content__images">
        <img src="@images/tab-1.png" alt="Tab image" loading="lazy" />
        <img src="@images/tab-2.png" alt="Tab image" loading="lazy" />
        <img src="@images/tab-3.png" alt="Tab image" loading="lazy" />
      </div>
    </section>

    {% include "src/html/layouts/sectionReviews.html" %} {% include
    "src/html/layouts/sectionAlternative.html" %} {% include
    "src/html/layouts/sectionReviewer.html" %}
  </div>
</div>
