<section class="section section--features">
  <div class="container">
    <h2>Поддерживающая уборка квартиры: особенности</h2>
    <p>
      Мы занимаемся уборкой квартир, уборкой квартир после ремонта, мытьем окон,
      химчисткой мягкой мебели и уборкой офисов. У нас фиксированные цены,
      оплатить услуги можно картой и наличными.
    </p>
    <p>
      Заказать клининг можно с помощью сайта в несколько кликов либо позвонив в
      коллцентр. Весь список клининговых услуг доступен на странице и
      добавляется в заказ нажатием одной кнопки. Вы сразу видите как меняется
      стоимость, какая применяется скидка.
    </p>
    <p>
      Мы единственная клининговая компания в Вильнюсе, которая предоставляет
      услуги уборки и химчистки в рамках одного заказа, а также несколько
      способов оплаты заказа.
    </p>
    <h3>Сколько стоит уборка квартиры в Вильнюсе?</h3>
    <ul>
      <li>Уборка однокомнатной квартиры стоит от 49.90 рублей</li>
      <li>Уборка двухкомнатной квартиры стоит от 63.90 рублей</li>
      <li>Уборка трехкомнатной квартиры стоит от 79.90 рублей</li>
      <li>Уборка четырехкомнатной квартиры стоит от 94.90 рублей</li>
      <li>Уборка дома стоит от 78 рублей</li>
      <li>Генеральная уборка квартиры от 59.90</li>
      <li>Уборка после ремонта стоит от 2 рублей за квадратный метр</li>
      <li>Мытье окон стоит от 9 рублей за окно</li>
      <li>Мытье окон после ремонта стоит от 17 рублей за окно</li>
    </ul>
    <h3>Что входит в уборку квартиры?</h3>
    <p>
      Мы убираем в комнатах, коридоре, кухне и санузле. Моем полы, вытираем
      пыль, убираем в кухне, протираем всю технику снаружи. Наводим порядок,
      расставляем обувь и аккуратно складываем вещи. Выносим мусор и меняем
      мусорные мешки. Пылесосим, моем батарее, двери, плинтусы. Протираем мебель
      и фасады в кухне, моем плиту и умывальники. Двигаем коврики в ванной и
      убираем под ними. Наводим порядок на полках.
    </p>
    <p>Вы также можете заказать дополнительные опции, такие как:</p>
    <ul>
      <li>Мойка окон</li>
      <li>Мойка духового шкафа</li>
      <li>Уборка внутри кухонных шкафчиков</li>
      <li>Уборка на балконе</li>
      <li>Чистка холодильника</li>
    </ul>
    <p>
      Вместе с клинингом квартиры можно заказать химчистку мебели и ковров.
      Работа выполняется разными специалистами, поэтому общее время выполнения
      заказа не увеличится.
    </p>
  </div>
</section>
