{% import "src/html/components/logo.html" as logoBlock %}
<div class="container">
  <div class="wrapper">
    {{ logoBlock.logo('/', '@images/logo-light.svg', 'Example name', 'app
    marketplace') }}
    <ul class="footer__links">
      <li><a href="/">Home</a></li>
      <li><a href="#">Rating</a></li>
      <li><a href="#">Table of contents</a></li>
      <li><a href="#">How we make a rating</a></li>
      <li><a href="#">Comparison of bookmakers</a></li>
      <li><a href="#">How to Start Betting on Sports 2023</a></li>
      <li><a href="#">Top-10 Indians Betting Apps</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
    <div class="footer__copyright" itemprop="copyrightYear">
      2023 &copy; All Rights Reserved
    </div>
  </div>
</div>
