{% import "src/html/components/logo.html" as logoBlock %}
<div class="container">
  <div class="wrapper">
    {{ logoBlock.logo('/', '@images/logo-footer.svg', 'У вас чище — мы богаче!')
    }}
    <div class="footer__menu">
      <ul>
        <li><a href="#">Аккаунт</a></li>
      </ul>
      <ul>
        <li><a href="#">Наши услуги</a></li>
        <li><a href="#">Уборка квартиры</a></li>
        <li><a href="#">Уборка после ремонта</a></li>
        <li><a href="#">Химчистка мебели</a></li>
        <li><a href="#">Уборка санузла до блеска</a></li>
        <li><a href="#">Уборка кухни с пристрастием</a></li>
      </ul>
      <ul>
        <li><a href="">О нас</a></li>
        <li><a href="">Компания</a></li>
        <li><a href="">Отзывы</a></li>
        <li><a href="">Вопросы и ответы</a></li>
        <li><a href="">Стать клиенером</a></li>
        <li><a href="">Блог</a></li>
      </ul>
      <ul>
        <li><a href="">Регламент</a></li>
        <li><a href="">Публичный договор</a></li>
        <li><a href="">Политика приватности</a></li>
        <li><a href="">Наши стандарты уборки</a></li>
        <li><a href="">Cookies policy</a></li>
      </ul>
    </div>
    <div class="footer__contact">
      <a href="tel:+375 (29) 633-01-40" class="footer__contact__item">
        <img
          src="@images/icons/icon-phone.svg"
          alt="icon phone"
          width="20"
          height="20"
        />
        <p>+375 (29) 633-01-40</p>
      </a>
      <a href="mailto:info@metla24.by" class="footer__contact__item">
        <img
          src="@images/icons/icon-email.svg"
          alt="icon email"
          width="20"
          height="20"
        />
        <p>info@metla24.by</p>
      </a>
    </div>
    <div class="footer__social">
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-facebook.svg"
          alt="Messenger"
          width="40"
          height="40"
        />
        <p>Messenger</p>
      </a>
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-whatsapp.svg"
          alt="WhatsApp"
          width="40"
          height="40"
        />
        <p>WhatsApp</p>
      </a>
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-telegram.svg"
          alt="Telegram"
          width="40"
          height="40"
        />
        <p>Telegram</p>
      </a>
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-signal.svg"
          alt="Signal"
          width="40"
          height="40"
        />
        <p>Signal</p>
      </a>
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-vk.svg"
          alt="Вконтакте"
          width="40"
          height="40"
        />
        <p>Вконтакте</p>
      </a>
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-viber.svg"
          alt="Viber"
          width="40"
          height="40"
        />
        <p>Viber</p>
      </a>
      <a href="#" class="footer__social__item">
        <img
          src="@images/icons/icon-inst.svg"
          alt="Instagram"
          width="40"
          height="40"
        />
        <p>Instagram</p>
      </a>
    </div>
  </div>
</div>
