<section id="hero" class="hero">
  <div class="container">
    <div class="wrapper">
      <div class="item" itemscope itemtype="https://schema.org/LocalBusiness">
        <h1 itemprop="name">
          Applications
          <span>of the best bookmakers</span>
          <p>
            for android <img src="@images/android.svg" alt="android icon" />
          </p>
        </h1>
        <p>Just select and install the app suitable for you from our rating</p>
      </div>
      <div class="item">
        <picture>
          <source srcset="@images/hero-image.webp" type="image/webp" />
          <img src="@images/hero-image.png" alt="Phone" loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>
