<section id="hero" class="hero hero--services">
  <div class="container">
    <div class="wrapper" itemscope itemtype="https://schema.org/LocalBusiness">
      <div class="hero__breadcrumbs">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="#">Блог</a></li>
          <li>Какие чистящие ...</li>
        </ul>
      </div>
      <h1 itemprop="name">Какие чистящие средства мы используем при уборке?</h1>
      <picture>
        <source
          srcset="@images/service/article-hero-mobile.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source
          srcset="@images/service/article-hero.webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <img
          src="@images/service/article-hero.png"
          alt="Какие чистящие средства мы используем при уборке?"
          loading="lazy"
        />
      </picture>
      <p class="hero__date">04.12.2023</p>
    </div>
  </div>
</section>
