<section id="hero" class="hero hero--services">
  <div class="container">
    <div class="wrapper" itemscope itemtype="https://schema.org/LocalBusiness">
      <div class="hero__breadcrumbs">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="#">Услуги</a></li>
          <li>Поддерживающая уборка</li>
        </ul>
      </div>
      <h1 itemprop="name">Поддерживающая Уборка квартиры в Вильнюсе</h1>
      <picture>
        <source
          srcset="@images/service/services-hero-mobile.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source
          srcset="@images/service/services-hero.webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <img
          src="@images/service/services-hero.png"
          alt="Поддерживающая
Уборка квартиры в Вильнюсе"
          loading="lazy"
        />
      </picture>
      <p class="hero__text">
        Поддерживающая уборка — это про то, чтобы в первую очередь освежить Вашу
        квартиру. И на постоянной основе поддерживать в ней чистоту и комфорт.
      </p>
      <button class="button yellow">Создать заказ</button>
    </div>
  </div>
</section>
