<section id="hero" class="hero">
  <div class="container">
    <div class="wrapper" itemscope itemtype="https://schema.org/LocalBusiness">
      <h1 itemprop="name">Заказать уборку в Вильнюсе</h1>
      <picture>
        <source
          srcset="@images/hero-mobile.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source
          srcset="@images/hero.webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <img
          src="@images/hero.png"
          alt="Заказать уборку в Вильнюсе"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
