<section class="section section--user-title">
  <div class="container">
    <h1>Удаление аккаунта</h1>
  </div>
</section>
<section class="section section--user-account-delete">
  <div class="container">
    <p>
      Вы собираетесь удалить аккаунт. Это приведет к потере истории заказов и
      очистке всех данных, связанных с Вами. Пожалуйста, укажите причину, по
      которой вы решили удалить аккаунт:
    </p>
    <div class="form-item form-item--radio">
      <input type="radio" id="first" name="user-account-delete" value="first" />
      <label for="first"
        >Я больше не буду пользоваться услугами компании METLA, потому что нашёл
        более выгодное предложение</label
      >
    </div>
    <div class="form-item form-item--radio">
      <input
        type="radio"
        id="second"
        name="user-account-delete"
        value="second"
      />
      <label for="second"
        >Интерфейс или функции сервиса METLA работают некорректно.</label
      >
    </div>
    <div class="form-item form-item--radio">
      <input type="radio" id="third" name="user-account-delete" value="third" />
      <label for="third"
        >Я больше не собираюсь пользоваться любыми клининговыми услугами</label
      >
    </div>
    <div class="form-item form-item--radio">
      <input type="radio" id="last" name="user-account-delete" value="last" />
      <label for="last">Другое</label>
    </div>
  </div>
</section>
<section class="section section--button">
  <div class="container">
    <button class="button button--red">Удалить</button>
  </div>
</section>
