<form class="section section--form">
  <div class="container">
    <h2>Введите ваш номер телефона</h2>
    <div class="form-item">
      <div class="form-item__prefix">+375</div>
      <label for="phone">
        <input type="tel" name="phone" id="phone" placeholder="29 999-99-99" />
      </label>
    </div>
    <p>
      Ваш аккаунт должен быть привязан к номеру телефона для верификации и для
      связи с вами. После введения номера вам будет сделан звонок для
      подтверждения.
    </p>
    <div class="section--form__bottom">
      <div class="form-item form-item--checkbox">
        <input type="checkbox" name="oferta" id="oferta" />

        <label for="oferta"
          >Регистрируясь в системе, я согласен с
          <a href="#"
            >договором публичной оферты и политикой конфиденциальности</a
          ></label
        >
      </div>
      <button type="submit" class="button button--green">Подтвердить</button>
    </div>
  </div>
</form>
