{% import "src/html/components/review.html" as reviewItem %}
<section class="section section--about">
  <div class="container">
    <h1>О нас <span></span></h1>
    <div class="section--about__text">
      <p>
        “Метла” - клининговая компания, созданная в 2018 году в Минске. С тех
        пор мы стабильно делаем жизнь наших клиентов чище и проще. За годы
        работы появились постоянные клиенты и надёжные партнёры, а наши клинеры
        набрались необходимого опыта и компетенций.
      </p>
      <p>
        “Метла” - клининговая компания, созданная в 2018 году в Минске. С тех
        пор мы стабильно делаем жизнь наших клиентов чище и проще. За годы
        работы появились постоянные клиенты и надёжные партнёры, а наши клинеры
        набрались необходимого опыта и компетенций.
      </p>
      <h3>METLA - семейный бизнес</h3>
    </div>
    <picture class="section--about__image">
      <source srcset="@images/service/about.webp" type="image/webp" />
      <img src="@images/service/about.png" alt="about" loading="lazy" />
    </picture>
  </div>
</section>
{% include "src/html/sections/advantages.html" %}
<section class="section before-after">
  <div class="container">
    <h2>До / После</h2>
  </div>
  <div class="wrapper">
    <div class="before-after__image">
      <picture>
        <source
          srcset="@images/service/before-after-1.webp"
          type="image/webp"
        />
        <img
          src="@images/service/before-after-1.png"
          alt="after"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="before-after__image">
      <picture>
        <source
          srcset="@images/service/before-after-2.webp"
          type="image/webp"
        />
        <img
          src="@images/service/before-after-2.png"
          alt="after"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="before-after__image">
      <picture>
        <source
          srcset="@images/service/before-after-1.webp"
          type="image/webp"
        />
        <img
          src="@images/service/before-after-1.png"
          alt="after"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="before-after__image">
      <picture>
        <source
          srcset="@images/service/before-after-2.webp"
          type="image/webp"
        />
        <img
          src="@images/service/before-after-2.png"
          alt="after"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="before-after__image">
      <picture>
        <source
          srcset="@images/service/before-after-2.webp"
          type="image/webp"
        />
        <img
          src="@images/service/before-after-2.png"
          alt="after"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>

{% include "src/html/sections/cleaners.html" %}
<section class="section section--reviews">
  <div class="container">
    <h2>Отзывы о нас</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        {{ reviewItem.review("Анастасия", "“Очень люблю в таких услугах то, что
        можно быстро и просто заказать”") }} {{ reviewItem.review("Анастасия",
        "“Очень люблю в таких услугах то, что можно быстро и просто заказать
        уборку с телефона. Клинеры пунктуальные, аккуратные, всё сделали на
        отлично!” ") }} {{ reviewItem.review("Анастасия", "“Очень люблю в таких
        услугах то, что можно быстро и просто заказать уборку с телефона.
        Клинеры пунктуальные, аккуратные,” ") }} {{
        reviewItem.review("Анастасия", "“Очень люблю в таких услугах то, что
        можно быстро и просто заказать”") }} {{ reviewItem.review("Анастасия",
        "“Очень люблю в таких услугах то, что можно быстро и просто заказать
        уборку с телефона. Клинеры пунктуальные, аккуратные, всё сделали на
        отлично!” ") }} {{ reviewItem.review("Анастасия", "“Очень люблю в таких
        услугах то, что можно быстро и просто заказать уборку с телефона.
        Клинеры пунктуальные, аккуратные,” ") }}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <a href="#" class="button">Все отзывы</a>
</section>

{% include "src/html/sections/instagram.html" %} {% include
"src/html/sections/social-media.html" %}
<section id="types" class="section types">
  <h2>Создайте заказ!</h2>

  <div class="container">
    <div class="wrapper">
      <div class="types__item">
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.7725 17.6222C14.7725 16.4141 15.7518 15.4347 16.96 15.4347H22.4851C23.6932 15.4347 24.6726 16.4141 24.6726 17.6222V23.1473C24.6726 24.3554 23.6932 25.3348 22.4851 25.3348H16.96C15.7518 25.3348 14.7725 24.3554 14.7725 23.1473V17.6222Z"
            fill="#5C41BE"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.827148 4.22062C0.827148 2.7122 2.04997 1.48938 3.55839 1.48938H8.21984V1.75455C8.21984 2.25735 8.62745 2.66496 9.13025 2.66496H16.3694C16.8722 2.66496 17.2798 2.25735 17.2798 1.75455V1.48938H21.9413C23.4497 1.48938 24.6725 2.7122 24.6725 4.22062V10.6808C24.6725 12.1893 23.4497 13.4121 21.9413 13.4121H15.4811C13.9727 13.4121 12.7498 14.6349 12.7498 16.1433V22.6035C12.7498 24.1119 11.527 25.3348 10.0186 25.3348H3.55839C2.04997 25.3348 0.827148 24.1119 0.827148 22.6035V17.9421C1.4764 17.942 2.00271 17.4157 2.00271 16.7665V10.0577C2.00271 9.40841 1.4764 8.88209 0.827148 8.88208V4.22062Z"
            fill="#5C41BE"
          />
        </svg>

        <p>Квартира</p>
      </div>
      <div class="types__item">
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.6001 8.85877H17.9088V5.07651C18.0117 2.95087 16.3807 1.13846 14.2552 1.01892H4.84854C2.72621 1.14174 1.10085 2.95313 1.20707 5.07651V25.8053H25.2985V11.8343C25.2985 10.1656 23.6739 8.85877 21.6001 8.85877ZM8.0651 21.9658H4.4987V19.1596H8.0651V21.9658ZM8.0651 17.1989H4.4987V14.3927H8.0651V17.1989ZM8.0651 12.432H4.4987V9.62581H8.0651V12.432ZM8.0651 7.66506H4.4987V4.8589H8.0651V7.66506ZM14.773 21.9658H11.2055V19.1596H14.7719L14.773 21.9658ZM14.773 17.1989H11.2055V14.3927H14.7719L14.773 17.1989ZM14.773 12.432H11.2055V9.62581H14.7719L14.773 12.432ZM14.773 7.66506H11.2055V4.8589H14.7719L14.773 7.66506ZM22.5021 21.9658H18.9345V19.1596H22.5009L22.5021 21.9658ZM22.5021 17.1989H18.9345V14.3927H22.5009L22.5021 17.1989Z"
            fill="url(#paint0_linear_2004_8783)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_2004_8783"
              x1="16.9171"
              y1="30.2819"
              x2="-5.18186"
              y2="21.6586"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5C41BE" />
              <stop offset="1" stop-color="#8067DC" />
            </linearGradient>
          </defs>
        </svg>

        <p>Офис</p>
      </div>
      <div class="types__item">
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.9564 15.3348V25.2286C21.4532 25.2286 20.9748 25.2286 19.7649 25.2286H16.2864V19.8012C16.2864 17.8481 14.7034 16.265 12.7502 16.265C10.797 16.265 9.21401 17.848 9.21401 19.8012V25.2286H5.73546C4.52456 25.2286 4.15684 25.2286 3.54395 25.2286V15.3348L12.7499 6.76904L21.9564 15.3348Z"
            fill="url(#paint0_linear_2004_8788)"
          />
          <path
            d="M23.1568 14.2245L12.7501 4.54144L2.34342 14.2245C1.83973 14.6932 1.05237 14.6644 0.583621 14.1607C0.114877 13.6571 0.143665 12.8697 0.647353 12.4009L11.9022 1.92952C12.3802 1.48443 13.1203 1.48443 13.5982 1.92952L24.8531 12.402C25.3567 12.8707 25.3845 13.6581 24.9168 14.1618C24.4481 14.6645 23.6605 14.6932 23.1568 14.2245Z"
            fill="url(#paint1_linear_2004_8788)"
          />
          <path
            d="M20.6238 4.22993V10.1681L18.0684 7.79053V4.22988C18.0684 3.92768 18.314 3.68201 18.6162 3.68201H20.0759C20.3791 3.68201 20.6238 3.9267 20.6238 4.22993Z"
            fill="url(#paint2_linear_2004_8788)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_2004_8788"
              x1="15.552"
              y1="28.5626"
              x2="-1.21742"
              y2="21.8488"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5C41BE" />
              <stop offset="1" stop-color="#8067DC" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_2004_8788"
              x1="16.5542"
              y1="16.8994"
              x2="0.0349577"
              y2="4.11144"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5C41BE" />
              <stop offset="1" stop-color="#8067DC" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_2004_8788"
              x1="19.7349"
              y1="11.3396"
              x2="17.1004"
              y2="10.923"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5C41BE" />
              <stop offset="1" stop-color="#8067DC" />
            </linearGradient>
          </defs>
        </svg>

        <p>Дом</p>
      </div>
      <div class="types__item types__item__modal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          fill="none"
        >
          <path
            fill="url(#a)"
            fill-rule="evenodd"
            d="M17.715 16.984H8.786v-.893c0-.493.4-.893.893-.893h7.143c.493 0 .893.4.893.893v.893Zm-8.929 1.785h8.929v1.786H8.786V18.77Zm0 5.357v-1.785h8.929v1.785H8.786Zm-1.785 1.786H4.322a2.678 2.678 0 0 1-2.678-2.678v-12.5c0-.844.396-1.636 1.071-2.143l10-7.5a.89.89 0 0 1 1.071 0l10 7.5a2.677 2.677 0 0 1 1.071 2.143v12.5a2.678 2.678 0 0 1-2.678 2.678H19.5v-9.821a2.678 2.678 0 0 0-2.678-2.679H9.679a2.678 2.678 0 0 0-2.678 2.679v9.821Zm1.785-14.285h8.929a.893.893 0 1 0 0-1.786H8.786a.893.893 0 1 0 0 1.786Z"
            clip-rule="evenodd"
          />
          <defs>
            <linearGradient
              id="a"
              x1="16.783"
              x2="-4.756"
              y1="30.427"
              y2="22.4"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5C41BE" />
              <stop offset="1" stop-color="#8067DC" />
            </linearGradient>
          </defs>
        </svg>

        <p>Помещение</p>
      </div>
    </div>
    <div class="form-item form-item--rooms">
      <button class="btn-minus" data-action="decrement">
        <img src="@images/icons/icon-minus.svg" alt="icon minus" />
      </button>
      <div class="form-item__text">
        <img src="@images/icons/icon-room.svg" alt="icon room" />
        <p>комнаты:</p>
      </div>
      <label for="rooms">
        <input
          type="number"
          id="rooms"
          value="1"
          min="1"
          max="4"
          data-counter="value"
        />
      </label>
      <button class="btn-plus" data-action="increment">
        <img src="@images/icons/icon-plus.svg" alt="icon plus" />
      </button>
    </div>
    <div class="form-item form-item--sanuzel">
      <button class="btn-minus" data-action="decrement">
        <img src="@images/icons/icon-minus.svg" alt="icon minus" />
      </button>
      <div class="form-item__text">
        <img src="@images/icons/icon-sanuzel.svg" alt="icon sanuzel" />
        <p>санузлы:</p>
      </div>
      <label for="sanuzel">
        <input
          type="number"
          id="sanuzel"
          value="1"
          min="1"
          max="5"
          data-counter="value"
        />
      </label>
      <button class="btn-plus" data-action="increment">
        <img src="@images/icons/icon-plus.svg" alt="icon plus" />
      </button>
    </div>
    <div class="form-item form-item__square">
      <button class="btn-minus" data-action="decrement">
        <img src="@images/icons/icon-minus.svg" alt="icon minus" />
      </button>
      <div class="form-item__text">
        <p>площадь</p>
        <p>до <span>40</span> m<sup>2</sup></p>
      </div>
      <button class="btn-plus" data-action="increment">
        <img src="@images/icons/icon-plus.svg" alt="icon plus" />
        <p>до <span>60</span> m<sup>2</sup></p>
      </button>
    </div>
    <div class="types__summary">
      <div class="types__summary__item">
        <p>Время уборки: <span>ок. 3 часов</span></p>
        <p>Цена: <span>60 BYN</span></p>
      </div>
      <button>
        <p>Создать заказ</p>
        <img src="@images/icons/button-arrow.svg" alt="arrow" />
      </button>
    </div>
  </div>
</section>
