<section class="section section--user-title">
  <div class="container">
    <h1>Аккаунт</h1>
  </div>
</section>
<section class="section section--form">
  <div class="container">
    <form>
      <div class="form-item">
        <label for="name"> Ф.И.О. </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Ф.И.О."
          value="Дональд"
        />
      </div>
      <div class="form-item">
        <div class="form-item__prefix">+375</div>
        <label for="phone"> Номер телефона </label>
        <input type="tel" name="phone" id="phone" placeholder="29 999-99-99" />
      </div>
      <div class="form-item">
        <label for="email"> Email </label>
        <input
          type="email"
          name="email"
          id="email"
          value="tusk2023@gmail.com"
        />
      </div>
      <button type="submit" class="button button--green">Сохранить</button>
    </form>
  </div>
</section>
<section class="section--result__description">
  <div class="container">
    <button>Удалить аккаунт</button>
  </div>
</section>
