{% include "src/html/layouts/hero-article.html" %}
<section class="section section--article">
  <div class="container">
    <div class="section--article__text">
      <h2>Что входит в уборку квартиры?</h2>
      <p>
        Мы убираем в комнатах, коридоре, кухне и санузле. Моем полы, вытираем
        пыль, убираем в кухне, протираем всю технику снаружи. Наводим порядок,
        расставляем обувь и аккуратно складываем вещи. Выносим мусор и меняем
        мусорные мешки. Пылесосим, моем батарее, двери, плинтусы. Протираем
        мебель и фасады в кухне, моем плиту и умывальники. Двигаем коврики в
        ванной и убираем под ними. Наводим порядок на полках.
      </p>
    </div>
    <picture class="section--article__image">
      <source srcset="@images/service/article-image.webp" type="image/webp" />
      <img
        src="@images/service/article-image.jpg"
        alt="Что входит в уборку квартиры?"
        loading="lazy"
      />
    </picture>
    <div class="section--article__list">
      <p>Вы также можете заказать дополнительные опции, такие как:</p>
      <ul>
        <li>Мойка окон</li>
        <li>Мойка духового шкафа</li>
        <li>Уборка внутри кухонных шкафчиков</li>
        <li>Уборка на балконе</li>
        <li>Чистка холодильника</li>
      </ul>
      <p>
        Вместе с клинингом квартиры можно заказать химчистку мебели и ковров.
        Работа выполняется разными специалистами, поэтому общее время выполнения
        заказа не увеличится.
      </p>
    </div>
  </div>
</section>
{% include "src/html/sections/blog.html" %}{% include
"src/html/sections/social-media.html" %}
