<section class="section section--user-title">
  <div class="container">
    <h1>Мои адреса</h1>
  </div>
</section>
<section class="section section--user--cards">
  <div class="container">
    <div class="section--user--cards__item">
      <div class="item__header">
        <p>Дом</p>
        <button>
          <img
            src="@images/icons/icon-delete.svg"
            alt="icon delete"
            width="40"
            height="40"
          />
        </button>
      </div>
      <div class="item__content">
        <img
          src="@images/icons/icon-user-address.svg"
          alt="icon user address"
          width="30"
          height="30"
        />
        <p>г. Минск, пр. Независимости, 13-102, 345678</p>
      </div>
    </div>
    <div class="section--user--cards__item">
      <div class="item__header">
        <p>Офис</p>
        <button>
          <img
            src="@images/icons/icon-delete.svg"
            alt="icon delete"
            width="40"
            height="40"
          />
        </button>
      </div>
      <div class="item__content">
        <img
          src="@images/icons/icon-user-address.svg"
          alt="icon user address"
          width="30"
          height="30"
        />
        <p>г. Минск, ул. Кальварийская, 1-102, 345678</p>
      </div>
    </div>
  </div>
</section>
<section class="section section--address">
  <div class="container">
    <h2>Добавить адрес</h2>
    <div class="section--address__header">
      <div class="section--address__header__item">
        <p>Ваш город</p>
        <div class="buttons">
          <div class="buttons__text">Вильнюс</div>
          <button class="button button--open">Выбрать город</button>
        </div>
      </div>
    </div>
    <form class="section--address__form">
      <p>Заголовок для адреса</p>
      <div class="form-item">
        <label for="street">
          <input type="text" name="street" id="street" placeholder="Улица" />
        </label>
      </div>
      <div class="form-item">
        <label for="building">
          <input type="text" name="building" id="building" placeholder="Дом" />
        </label>
      </div>
      <div class="form-item">
        <label for="apartment">
          <input
            type="text"
            name="apartment"
            id="apartment"
            placeholder="Квартира"
          />
        </label>
      </div>
      <div class="form-item">
        <label for="korpus">
          <input type="text" name="korpus" id="korpus" placeholder="Корпус" />
        </label>
      </div>
      <div class="form-item">
        <label for="podezd">
          <input type="text" name="podezd" id="podezd" placeholder="Подъезд" />
        </label>
      </div>
      <div class="form-item">
        <label for="floor">
          <input type="text" name="floor" id="floor" placeholder="Этаж" />
        </label>
      </div>
      <div class="form-item">
        <label for="code">
          <input
            type="text"
            name="code"
            id="code"
            placeholder="Код от домофона"
          />
        </label>
      </div>
      <div class="form-actions">
        <button class="button button--green">Сохранить</button>
      </div>
    </form>
  </div>
</section>
