{% import "src/html/sections/order-hero.html" as orderHeroItem %} {{
orderHeroItem.orderHero("Заказ:", "Уборка санузла до блеска", "Поддерживающая
уборка — это про то, чтобы в первую очередь освежить Вашу квартиру. И на
постоянной основе поддерживать в ней чистоту и комфорт.") }}
<section class="section section--wrapper">
  <div class="container">
    <section id="types" class="section types types--renovation">
      <div class="form-item form-item--meter">
        <button class="btn-minus" data-action="decrement">
          <img src="@images/icons/icon-minus.svg" alt="icon minus" />
        </button>
        <div class="form-item__text">
          <img src="@images/icons/icon-metr.svg" alt="icon-metr" />
          <p>m <sup>2</sup></p>
        </div>
        <label for="meters">
          <input
            type="number"
            id="meters"
            value="1"
            min="1"
            max="1000"
            data-counter="value"
          />
        </label>
        <button class="btn-plus" data-action="increment">
          <img src="@images/icons/icon-plus.svg" alt="icon plus" />
        </button>
      </div>
      <div class="form-item form-item--sanuzel">
        <button class="btn-minus" data-action="decrement">
          <img src="@images/icons/icon-minus.svg" alt="icon minus" />
        </button>
        <div class="form-item__text">
          <img src="@images/icons/icon-sanuzel.svg" alt="icon sanuzel" />
          <p>санузлы:</p>
        </div>
        <label for="rooms">
          <input
            type="number"
            id="rooms"
            value="1"
            min="1"
            max="5"
            data-counter="value"
          />
        </label>
        <button class="btn-plus" data-action="increment">
          <img src="@images/icons/icon-plus.svg" alt="icon plus" />
        </button>
      </div>
    </section>

    {% include "src/html/sections/date-time.html" %}
  </div>
</section>
{% include "src/html/sections/date-time.html" %}{% include
"src/html/sections/additional-cards.html" %} {% include
"src/html/sections/dry.html" %}{% include "src/html/sections/address.html" %}{%
include "src/html/sections/result.html" %}
