<div class="menu__desktop">
  <div class="wrapper">
    <div class="menu__desktop__head">
      <button>
        <img
          src="@images/icons/icon-lang.svg"
          alt="icon lang"
          width="30"
          height="30"
        />
      </button>
      <button>
        <img
          src="@images/icons/icon-download.svg"
          alt="icon download"
          width="30"
          height="30"
        />
      </button>
    </div>
    <div class="menu__desktop__phone">
      <a href="tel:+375447111111">+ 375 44 711 11 11</a>
    </div>
    <div class="menu__desktop__items">
      <a href="/html/pages/service.html" class="menu__desktop__item">
        <img
          src="@images/icons/menu/menu-services.svg"
          alt="Наши услуги"
          width="40"
          height="40"
        />
        <p>Наши услуги</p>
      </a>
      <a href="/html/pages/reviews.html" class="menu__desktop__item">
        <img
          src="@images/icons/menu/menu-reviews.svg"
          alt="Отзывы"
          width="40"
          height="40"
        />
        <p>Отзывы</p>
      </a>
      <a href="/html/pages/faq.html" class="menu__desktop__item">
        <img
          src="@images/icons/menu/menu-faq.svg"
          alt="Вопрос-ответ"
          width="40"
          height="40"
        />
        <p>Вопрос-ответ</p>
      </a>
      <a href="/html/pages/about.html" class="menu__desktop__item">
        <img
          src="@images/icons/menu/menu-about.svg"
          alt="О нас"
          width="40"
          height="40"
        />
        <p>О нас</p>
      </a>
      <a href="/html/pages/blog.html" class="menu__desktop__item">
        <img
          src="@images/icons/menu/menu-blog.svg"
          alt="Блог"
          width="40"
          height="40"
        />
        <p>Блог</p>
      </a>
      <a href="/html/pages/cleaners.html" class="menu__desktop__item">
        <img
          src="@images/icons/menu/menu-apply.svg"
          alt="Стать клинером"
          width="40"
          height="40"
        />
        <p>Стать клинером</p>
      </a>
    </div>
    <button>
      <img
        src="@images/icons/icon-close.svg"
        alt="icon close"
        width="35"
        height="35"
      />
    </button>
  </div>
</div>
