<div class="menu--mobile">
  <a href="/" class="menu--mobile__logo">
    <img src="@images/icons/mobile-menu-logo.svg" alt="logo" />
  </a>
  <button class="menu--mobile__button">
    <img src="@images/icons/mobile-menu.svg" alt="icom button" />
    <p>Меню</p>
  </button>
</div>

<div class="menu--mobile--open hidden">
  <div class="menu--mobile--open__head">
    <button>
      <img
        src="@images/icons/icon-lang.svg"
        alt="icon lang"
        width="20"
        height="20"
      />
      <p>Язык и регион</p>
    </button>
    <button>
      <img
        src="@images/icons/icon-download.svg"
        alt="icon download"
        width="20"
        height="20"
      />
      <p>Установить приложение</p>
    </button>
  </div>

  <div class="menu__desktop__items">
    <a href="/html/pages/service.html" class="menu__desktop__item">
      <img
        src="@images/icons/icon-menu-1.svg"
        alt="Мои оценки и отзывы"
        width="40"
        height="40"
      />
      <p>Мои оценки и отзывы</p>
    </a>
    <a href="/html/pages/reviews.html" class="menu__desktop__item">
      <img
        src="@images/icons/icon-menu-2.svg"
        alt="Сохранённые карты"
        width="40"
        height="40"
      />
      <p>Сохранённые карты</p>
    </a>
    <a href="/html/pages/faq.html" class="menu__desktop__item">
      <img
        src="@images/icons/icon-menu-3.svg"
        alt="Фото и файлы"
        width="40"
        height="40"
      />
      <p>Фото и файлы</p>
    </a>
    <a href="/html/pages/about.html" class="menu__desktop__item">
      <img
        src="@images/icons/icon-menu-4.svg"
        alt="База знаний"
        width="40"
        height="40"
      />
      <p>База знаний</p>
    </a>
    <a href="/html/pages/blog.html" class="menu__desktop__item">
      <img
        src="@images/icons/icon-menu-5.svg"
        alt="Договор и Регламент"
        width="40"
        height="40"
      />
      <p>Договор и Регламент</p>
    </a>
    <a href="/html/pages/cleaners.html" class="menu__desktop__item">
      <img
        src="@images/icons/icon-menu-6.svg"
        alt="Выход"
        width="40"
        height="40"
      />
      <p>Выход</p>
    </a>
  </div>
  <div class="menu__desktop__subitems">
    <a href="/html/pages/cleaner/my-orders.html" class="subitem">
      <img
        src="@images/icons/menu/mobile-orders.svg"
        alt="Заказы"
        width="18"
        height="18"
      />
      <p>Заказы</p>
    </a>
    <a href="/html/pages/cleaner/payouts.html" class="subitem">
      <img
        src="@images/icons/menu/icon-bills.svg"
        alt="Выплаты"
        width="18"
        height="18"
      />
      <p>Выплаты</p>
    </a>
    <a href="/html/pages/cleaner/dayoffs.html" class="subitem">
      <img
        src="@images/icons/menu/icon-menu-dayoff.svg"
        alt="Выходные"
        width="18"
        height="18"
      />
      <p>Выходные</p>
    </a>
  </div>
  <button>
    <img src="@images/icons/menu/mobile-close.svg" alt="close" />
    <p>Закрыть меню</p>
  </button>
</div>
