<div class="menu--mobile">
  <div class="menu--mobile__logo">
    <img src="@images/icons/mobile-menu-logo.svg" alt="logo" />
  </div>
  <button class="menu--mobile__button">
    <img src="@images/icons/mobile-menu.svg" alt="icom button" />
    <p>Меню</p>
  </button>
</div>
<div class="menu--mobile--open hidden">
  <div class="menu--mobile--open__head">
    <button>
      <img
        src="@images/icons/icon-lang.svg"
        alt="icon lang"
        width="20"
        height="20"
      />
      <p>Язык и регион</p>
    </button>
    <button>
      <img
        src="@images/icons/icon-download.svg"
        alt="icon download"
        width="20"
        height="20"
      />
      <p>Установить приложение</p>
    </button>
  </div>
  <a href="tel:+375447111111" class="menu--mobile--open__phone"
    >+ 375 44 711 11 11</a
  >
  <div class="menu--mobile--open__social">
    <a href="#" class="item"
      ><img
        src="@images/icons/menu/mobile-whatsapp.svg"
        alt="whatsapp"
        width="26"
        height="26"
    /></a>
    <a href="#" class="item"
      ><img
        src="@images/icons/menu/mobile-tg.svg"
        alt="tg"
        width="26"
        height="26"
    /></a>
    <a href="#" class="item"
      ><img
        src="@images/icons/menu/mobile-vk.svg"
        alt="vk"
        width="26"
        height="26"
    /></a>
    <a href="#" class="item"
      ><img
        src="@images/icons/menu/mobile-viber.svg"
        alt="viber"
        width="26"
        height="26"
    /></a>
    <a href="#" class="item"
      ><img
        src="@images/icons/menu/mobile-instagram.svg"
        alt="instagram"
        width="26"
        height="26"
    /></a>
  </div>
  <div class="menu__desktop__items">
    <a href="/html/pages/service.html" class="menu__desktop__item">
      <img
        src="@images/icons/menu/menu-services.svg"
        alt="Наши услуги"
        width="40"
        height="40"
      />
      <p>Наши услуги</p>
    </a>
    <a href="/html/pages/reviews.html" class="menu__desktop__item">
      <img
        src="@images/icons/menu/menu-reviews.svg"
        alt="Отзывы"
        width="40"
        height="40"
      />
      <p>Отзывы</p>
    </a>
    <a href="/html/pages/faq.html" class="menu__desktop__item">
      <img
        src="@images/icons/menu/menu-faq.svg"
        alt="Вопрос-ответ"
        width="40"
        height="40"
      />
      <p>Вопрос-ответ</p>
    </a>
    <a href="/html/pages/about.html" class="menu__desktop__item">
      <img
        src="@images/icons/menu/menu-about.svg"
        alt="О нас"
        width="40"
        height="40"
      />
      <p>О нас</p>
    </a>
    <a href="/html/pages/blog.html" class="menu__desktop__item">
      <img
        src="@images/icons/menu/menu-blog.svg"
        alt="Блог"
        width="40"
        height="40"
      />
      <p>Блог</p>
    </a>
    <a href="/html/pages/cleaners.html" class="menu__desktop__item">
      <img
        src="@images/icons/menu/menu-apply.svg"
        alt="Стать клинером"
        width="40"
        height="40"
      />
      <p>Стать клинером</p>
    </a>
  </div>
  <a href="#" class="menu--mobile--open__account">
    <img
      src="@images/icons/menu/mobile-user.svg"
      alt="account"
      width="18"
      height="18"
    />
    <p>Аккаунт</p>
  </a>
  <button>
    <img src="@images/icons/menu/mobile-close.svg" alt="close" />
    <p>Закрыть меню</p>
  </button>
</div>
