{% import "src/html/components/button.html" as buttonItem %} {% import
"src/html/components/team.html" as teamItem %}
<div class="container">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="" aria-current="page">Example page </a>
      </li>
    </ol>
  </nav>
  <div class="wrapper">
    <section class="section section--not-found">
      <h1>404</h1>
      <h2>Not found</h2>
      <p>Unfortunately, the page you selected is not available</p>
      {{buttonItem.button('/', '', 'Back to home')}}
    </section>
  </div>
</div>
