<form class="order-form">
  <div class="form-item">
    <button class="btn-minus">
      <img src="@images/icons/icon-minus.svg" alt="icon minus" />
    </button>
    <div class="form-item__text">
      <img src="@images/icons/icon-room.svg" alt="icon room" />
      <p>комнаты:</p>
    </div>
    <label for="rooms">
      <input type="number" id="rooms" value="1" min="1" max="9" />
    </label>
    <button class="btn-plus">
      <img src="@images/icons/icon-plus.svg" alt="icon plus" />
    </button>
  </div>
  <div class="form-item">
    <button class="btn-minus">
      <img src="@images/icons/icon-minus.svg" alt="icon minus" />
    </button>
    <div class="form-item__text">
      <img src="@images/icons/icon-sanuzel.svg" alt="icon sanuzel" />
      <p>санузлы:</p>
    </div>
    <label for="rooms">
      <input type="number" id="rooms" value="1" min="1" max="9" />
    </label>
    <button class="btn-plus">
      <img src="@images/icons/icon-plus.svg" alt="icon plus" />
    </button>
  </div>
  <div class="form-item form-item__square">
    <button class="btn-less">
      <p>меньше</p>
      <p>60</p>
    </button>
    <div class="form-item__text">
      <img src="@images/icons/icon-metr.svg" alt="icon-metr" />
      <p>m <sup>2</sup></p>
    </div>
    <button class="btn-more">
      <p>больше</p>
      <p>60</p>
    </button>
  </div>
</form>
