<div class="container">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="" aria-current="page">Personal Data Processing Policy</a>
      </li>
    </ol>
  </nav>

  <div class="content">
    <h1>Personal Data Processing Policy</h1>
    <p>Version effective as of November 14, 2022.</p>
    <p>
      This Personal Data Processing and Protection Policy (hereinafter, the
      "Policy") is adopted and effective at Selectel LLC, located at bldg. A, 21
      Tsvetochnaya st., St. Petersburg 196006 (hereinafter, the "Company").
    </p>
    <p>
      We collect, use and store personal data (information directly or
      indirectly relating to you) that you provide to us when you use our
      website vds.selectel.ru, including subdomains (the "Website"), including
      subdomains, from any device and when you communicate with us in any form,
      in accordance with this Policy and the Cookie Policy.
    </p>
    <p>
      By using our Website and providing us with your personal data, you consent
      to the processing of your personal data in accordance with this Policy and
      the <a href="#">Cookie Policy</a>.
    </p>
    <h2>On what basis do we process data?</h2>
    <p>
      The Company processes your personal data on the basis of the Constitution
      of the Russian Federation, the Convention for the Protection of
      Individuals with regard to Automatic Processing of Personal Data (ETS №
      108, concluded in Strasbourg on 28.01.1981), Federal Law of the Russian
      Federation № 152- FZ of 27.07.2006. "On Personal Data", other federal laws
      and regulations of the Russian Federation which define the cases and
      specifics of processing personal data and ensuring security and
      confidentiality of such information, and your consent given when
      registering on the Website or using the Website.
    </p>
    <h2>What data do we collect?</h2>
    <p>We collect the following personal data through the Website:</p>
    <ul>
      <li>
        Personal data you provide to us when filling in the information fields
        on the Website, when filling in the contact form, when subscribing to
        the newsletter, when registering for events, such as your name,
        telephone number, e-mail address;
      </li>
      <li>
        Personal data you provide to us when filling in the information fields
        on the Website when you register to conclude a contract, as well as when
        you accept an offer, such as your name, telephone number, e-mail
        address, your payment card details, other payment information provided
        by you;
      </li>
      <li>
        Personal data contained in the messages and files you send us, including
        when applying for our vacancies, such as your name, telephone number,
        e-mail address, age, education, work experience, address, other personal
        information provided by you;
      </li>
      <li>
        Information about your activity while using the Website (e.g., search
        query history, files stored on Website systems);
      </li>
      <li>
        Technical data automatically transmitted by the device through which you
        use the Website, including device specifications, IP address,
        information saved in cookies sent to your device, browser information,
        date and time of access to the Website, addresses of requested pages and
        other similar information, HTTP headers, web beacons/pixel tags, browser
        ID data, geolocation information, hardware and software information.
      </li>
    </ul>
  </div>
</div>
