{% import 'src/html/components/progress.html' as progressItem %} {% import
'src/html/components/review.html' as reviewItem %}
<section class="section section--reviews">
  <div class="section__title">
    <h3>Reviews (3)</h3>
  </div>
  <div class="item rate">
    {% include "src/html/components/rating.html" %}
    <div class="items">
      {{ progressItem.progress('5', '50%') }} {{ progressItem.progress('4',
      '60%') }} {{ progressItem.progress('3', '20%') }} {{
      progressItem.progress('2', '0%') }} {{ progressItem.progress('1', '80%')
      }}
    </div>
  </div>
  <div class="item reviews" itemscope itemtype="https://schema.org/Review">
    {{reviewItem.review('review-1','qwert45', '2022-08-23', 'Vel risus commodo
    viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas dui
    id ornare arcu odio ut sem')}} {{reviewItem.review('review-2', 'andro1D',
    '2022-08-07', 'Vel risus commodo viverra maecenas accumsan lacus vel
    facilisis volutpat est velit egestas dui id ornare arcu odio ut sem')}}
    {{reviewItem.review('review-3', 'happylie2004', '2022-08-01', 'Vel risus
    commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit
    egestas dui id ornare arcu odio ut sem')}}
  </div>
</section>
