<section id="aside" class="section section--aside">
  <div class="wrapper">
    <details class="details" open>
      <summary>
        <h2 itemprop="name">Table of contents</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <ul>
          <li><a href="#rating">Сontent point 1</a></li>
          <li><a href="#comparison">Сontent point 2</a></li>
          <li><a href="#how-to">Сontent point 3</a></li>
          <li><a href="#top">Сontent point 4</a></li>
          <li><a href="#review">Сontent point 5</a></li>
          <li><a href="#reviewer">Сontent point 6</a></li>
          <li><a href="#faq">Сontent point 7</a></li>
        </ul>
      </div>
    </details>
  </div>
</section>
