{% import "src/html/components/button.html" as buttonItem %}

<section id="comparison" class="section section--comparison">
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2>Comparison of bookmakers</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <div class="table">
          <div class="table__row">
            <div class="item"></div>
            <div class="item"><img src="@images/bet-1.svg" alt="1xbet" /></div>
            <div class="item">
              <img src="@images/bet-2.svg" alt="mostbet" />
            </div>
            <div class="item"><img src="@images/bet-3.svg" alt="bet365" /></div>
          </div>
          <div class="table__row">
            <div class="item">Sports to bet</div>
            <div class="item">30+</div>
            <div class="item">50+</div>
            <div class="item">20+</div>
          </div>
          <div class="table__row">
            <div class="item">Live betting</div>
            <div class="item">Yes</div>
            <div class="item">Yes</div>
            <div class="item">Yes</div>
          </div>
          <div class="table__row">
            <div class="item">Betting Odds</div>
            <div class="item">Best</div>
            <div class="item">Good</div>
            <div class="item">Best</div>
          </div>
          <div class="table__row">
            <div class="item">Live streaming</div>
            <div class="item">Yes</div>
            <div class="item">No</div>
            <div class="item">Yes</div>
          </div>
          <div class="table__row">
            <div class="item">Download Free</div>
            <div class="item">Yes</div>
            <div class="item">Yes</div>
            <div class="item">Yes</div>
          </div>
          <div class="table__row">
            <div class="item">Join now</div>
            <div class="item">{{ buttonItem.button('/', '', 'Join') }}</div>
            <div class="item">{{ buttonItem.button('/', '', 'Join') }}</div>
            <div class="item">{{ buttonItem.button('/', '', 'Join') }}</div>
          </div>
        </div>
      </div>
    </details>
  </div>
</section>
