<section id="rating" class="section section--rating">
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2>How we make a rating</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <div class="item">
          <h3>Top 3 Betting Apps in India with exclusive feaures</h3>
          <p>
            But us look at how well the top 3 Betting Apps in India compare then
            it comes to feauters like live betting and live streaming which
            matter to the users.
          </p>
        </div>
      </div>
    </details>
  </div>
</section>
