<section id="top" class="section section--top">
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2>TOP-10 Indian Betting Apps</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <table>
          <tr>
            <th>Rank</th>
            <th>Betting App</th>
            <th>Best For</th>
          </tr>
          <tr>
            <td>1</td>
            <td>1xBet</td>
            <td>Best App for ODI Betting</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Parimatch</td>
            <td>Best Indian App</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Betway</td>
            <td>App with High Cricket Odds</td>
          </tr>
          <tr>
            <td>4</td>
            <td>10CRIC</td>
            <td>Best Banking in Rupees App</td>
          </tr>
          <tr>
            <td>5</td>
            <td>BetTilt</td>
            <td>Fast Registration Gambling App</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Megapari</td>
            <td>Rich Variety of Betting Markets</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Bet365</td>
            <td>Best Betting Rates App</td>
          </tr>
        </table>
      </div>
    </details>
  </div>
</section>
