{% import "src/html/components/button.html" as buttonItem %}
<section id="review" class="section section--review">
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2>Review Top 10 betting apps in 1 minute</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <div class="item">
          <div class="item__app">
            <img src="@images/bet-1.svg" alt="1xbet" />
            <div class="text">
              <div>
                <p>1xbet</p>
                <span>#1 in rating</span>
              </div>
              <div>$ Бонус <span>400$</span></div>
            </div>
          </div>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas integer eget aliquet nibh praesent tristique
            magna sit amet purus gravida quis blandit turpis cursus in hac
            habitasse platea dictumst quisque sagittis purus sit amet volutpat
            consequat mauris nunc congue nisi vitae suscipit tellus mauris a
            diam
          </p>
        </div>
        <div class="item">
          <div class="logos">
            <img src="@images/logo-1.svg" alt="logo visa" />
            <img src="@images/logo-2.svg" alt="logo paypal" />
            <img src="@images/logo-3.svg" alt="logo mastercard" />
            <img src="@images/logo-4.svg" alt="logo add" />
          </div>
        </div>
        <div class="item">
          <ul class="list--done">
            <li>Use Bonus Code “BESTAPP” for Exclusive Welcome Offer Boost</li>
            <li>
              Accepts UPI (Netbanking), Bank Transfer, Netellerm Bitcoin, Skrill
              & More
            </li>
            <li>Fantastic Android & iOS Betting Apps</li>
          </ul>
          <ul class="list--undone">
            <li>Dui nunc mattis enim ut tellus elementum sagittis vitae et</li>
            <li>
              Sit amet purus gravida quis blandit turpis cursus in hac habitasse
              platea dictumst
            </li>
          </ul>
        </div>
        <div class="item">
          {{ buttonItem.button('/', 'icon-android.svg', 'Download 1xbet') }}
        </div>
      </div>
    </details>
  </div>
</section>
