<section id="faq" class="section section--faq">
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2>FAQ</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div
        class="details__content"
        itemscope
        itemtype="https://schema.org/FAQPage"
      >
        <div
          class="item"
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
        >
          <h3 itemprop="name">
            Cursus euismod quis viverra nibh cras pulvinar mattis nunc ser?
          </h3>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
          >
            <p itemprop="text">
              Tristique et egestas quis ipsum suspendisse ultrices gravida
              dictum fusce ut placerat orci nulla pellentesque
            </p>
          </div>
        </div>
        <div
          class="item"
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
        >
          <h3 itemprop="name">Ornare lectus sit amet est placerat in?</h3>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
          >
            <p itemprop="text">
              Aliquam purus sit amet luctus venenatis lectus magna fringilla
              urna porttitor rhoncus dolor purus non enim praesent elementum
              facilisis leo?
            </p>
          </div>
        </div>
      </div>
    </details>
  </div>
</section>
