<section
  id="how-to"
  class="section section--how-to"
  itemscope
  itemtype="http://schema.org/HowTo"
>
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2 itemprop="name">How to Start Betting on Sports 2023</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <div
          class="item"
          itemprop="step"
          itemscope
          itemtype="http://schema.org/HowToSection"
        >
          <h3 itemprop="name"><span>Step 1:</span> Choose a Betting Site</h3>
          <p itemprop="text">
            Vel risus commodo viverra maecenas accumsan lacus vel facilisis
            volutpat est velit egestas dui id ornare arcu odio ut sem
          </p>
        </div>
        <div
          class="item"
          itemprop="step"
          itemscope
          itemtype="http://schema.org/HowToSection"
        >
          <h3 itemprop="name"><span>Step 2:</span> Sign Up</h3>
          <p itemprop="text">
            Fusce ut placerat orci nulla pellentesque dignissim enim sit amet
            venenatis urna cursus eget nunc scelerisque viverra mauris in
            aliquam
          </p>
          <ul class="list--content">
            <li>Gravida rutrum quisque non tellus orci</li>
            <li>Lectus quam id leo in vitae</li>
            <li>Egestas sed tempus urna et pharetra</li>
          </ul>
          <div class="images">
            <picture>
              <source srcset="@images/content-1.webp" type="image/webp" />
              <img src="@images/content-1.png" alt="Content" loading="lazy" />
            </picture>
            <picture>
              <source srcset="@images/content-2.webp" type="image/webp" />
              <img src="@images/content-2.png" alt="Content" loading="lazy" />
            </picture>
          </div>
        </div>
        <div
          class="item"
          itemprop="step"
          itemscope
          itemtype="http://schema.org/HowToSection"
        >
          <h3 itemprop="name">
            <span>Step 3:</span> How to Deposit on Betting Sites
          </h3>
          <p itemprop="text">
            Tincidunt dui ut ornare lectus sit amet est placerat in egestas erat
            imperdiet sed euismod nisi porta lorem mollis aliquam
          </p>
          <div class="images">
            <picture>
              <source srcset="@images/content-3.webp" type="image/webp" />
              <img src="@images/content-3.png" alt="Content" loading="lazy" />
            </picture>
            <picture>
              <source srcset="@images/content-4.webp" type="image/webp" />
              <img src="@images/content-4.png" alt="Content" loading="lazy" />
            </picture>
          </div>
        </div>
        <div
          class="item"
          itemprop="step"
          itemscope
          itemtype="http://schema.org/HowToSection"
        >
          <h3 itemprop="name"><span>Step 4:</span> Use a Betting Bonus</h3>
          <p itemprop="text">
            Placerat orci nulla pellentesque dignissim enim sit amet venenatis
            urna cursus eget nunc scelerisque viverra mauris in aliquam sem
            fringilla
          </p>
          <div class="images">
            <picture>
              <source srcset="@images/content-4.webp" type="image/webp" />
              <img src="@images/content-4.png" alt="Content" loading="lazy" />
            </picture>
            <picture>
              <source srcset="@images/content-1.webp" type="image/webp" />
              <img src="@images/content-1.png" alt="Content" loading="lazy" />
            </picture>
          </div>
        </div>
        <div
          class="item"
          itemprop="step"
          itemscope
          itemtype="http://schema.org/HowToSection"
        >
          <h3 itemprop="name"><span>Step 5:</span> Place a Bet</h3>
          <p itemprop="text">
            scelerisque eu ultrices vitae auctor eu augue ut lectus arcu
            bibendum at varius vel pharetra vel turpis nunc eget lorem dolor sed
            viverra ipsum nunc aliquet bibendum enim facilisis gravida neque
            convallis a cras semper auctor neque vitae tempus quam pellentesque
            nec nam aliquam sem et tortor consequat id porta
          </p>
          <ul>
            <li>Accumsan tortor posuere ac ut</li>
            <li>Pretium vulputate sapien nec sagittis aliquam</li>
            <li>Mauris pharetra et ultrices</li>
          </ul>
          <div class="images">
            <picture>
              <source srcset="@images/content-1.webp" type="image/webp" />
              <img src="@images/content-1.png" alt="Content" loading="lazy" 1 />
            </picture>
            <picture>
              <source srcset="@images/content-2.webp" type="image/webp" />
              <img src="@images/content-2.png" alt="Content" loading="lazy" />
            </picture>
          </div>
        </div>
        <div
          class="item"
          itemprop="step"
          itemscope
          itemtype="http://schema.org/HowToSection"
        >
          <h3 itemprop="name">
            <span>Step 6:</span> Withdraw Money from Betting Sites
          </h3>
          <p itemprop="text">
            Aliquet enim tortor at auctor urna nunc id cursus metus aliquam
            eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis
            orci a scelerisque purus semper eget duis at tellus at urna
            condimentum mattis pellentesque id nibh tortor id aliquet lectus
            proin nibh nisl condimentum id venenatis a condimentum vitae sapien
          </p>
          <ul>
            <li>Gravida rutrum quisque non tellus</li>
            <li>Lectus quam id leo in vitae turpis massa</li>
            <li>Egestas sed tempus urna</li>
          </ul>
          <div class="images">
            <picture>
              <source srcset="@images/content-2.webp" type="image/webp" />
              <img src="@images/content-2.png" alt="Content" loading="lazy" />
            </picture>
            <picture>
              <source srcset="@images/content-3.webp" type="image/webp" />
              <img src="@images/content-3.png" alt="Content" loading="lazy" />
            </picture>
          </div>
        </div>
      </div>
    </details>
  </div>
</section>
